[2016-08-08 22:16] brodeurlv opened #1 "au restore, le graph est celui de SUM alors que c'est MAX qui est selectionné."
au restore, le graph est celui de SUM alors que c'est MAX qui est selectionné.

Pourtant le changement de machine et le zoom fonctionne.

[2016-08-09 06:35] brodeurlv commented on #1
Issue with onrestore method

[2016-08-13 21:05] brodeurlv opened #2 "MP3 bar reappears even if set to be hidden in settings menu"
MP3 bar reappears even if set to be hidden in settings menu

[2016-08-13 21:07] brodeurlv commented on #2
Moving MP3 bar initialisation to OnStart

[2016-08-13 21:44] brodeurlv opened #3 "Add "All" in graph buttons"
Found in version: 0.11

Current behavior: Only 3 buttons. Not possible to see all the graph

Expected behavior: Having 4 buttons so that we can see all the graph

Step to reproduce: N/A

[2016-08-13 21:53] brodeurlv opened #4 "By default, in BodyBuilding History fragment, don't put "All" for dates"
Found in version: 0.11

Current behavior: When All is selected, after an issue in retrieving the Date, the display can be very long

Expected behavior: A quick display

Step to reproduce: Wait for long, then restore the application

[2016-08-13 22:08] brodeurlv opened #5 "Store time in records"
Found in version: 0.11

Current behavior: Just the date is available

Expected behavior: Date + Time

Step to reproduce: NA

[2016-08-13 22:32] #4 closed

[2016-08-13 23:12] brodeurlv opened #6 "Crash on create profile"
Found in version:0.12 beta

Current behavior:

Expected behavior:

Step to reproduce:
create profile
Import data
Go to profile
Create profile

[2016-08-14 10:06] #6 closed

[2016-08-14 10:07] brodeurlv commented on #6
Error in ExpandedListView.
Height list algotrithm changed thanks to ASLAN
http://stackoverflow.com/questions/2312683/calculate-the-size-of-a-list-view-or-how-to-tell-it-to-fully-expand

[2016-08-14 10:09] brodeurlv commented on #2
Verified

[2016-08-14 10:09] #2 closed

[2016-08-14 10:17] brodeurlv commented on #3
Done.

[2016-08-14 10:17] #3 closed

[2016-08-14 15:36] #5 closed

[2016-08-16 06:44] brodeurlv opened #7 "Unit does not appear"
Found in version: 0.12beta

Current behavior: Unit does not appear in body building page

Expected behavior: to appear

Step to reproduce: none.

[2016-08-19 22:51] brodeurlv opened #8 "Profile table badly formatted"
Found in version: 0.12beta

Current behavior: wrong format

[2016-08-29 20:55] brodeurlv commented on #8
Created new Cursor adapter for Profile Weight

[2016-08-29 20:58] #8 closed

[2016-08-29 21:45] brodeurlv commented on #7
Layout updated

[2016-08-29 21:45] #7 closed

[2016-09-02 10:41] brodeurlv commented on #1
Pourtant le changement de machine et le zoom fonctionne

[2016-09-04 19:25] brodeurlv opened #9 "Invert profile weight list"
Found in version: 0.12

Current behavior: see title

Expected behavior: see title

Step to reproduce:

[2016-09-05 08:52] #9 closed

[2016-09-06 16:15] brodeurlv commented on #1
String comparison changed. No issues since 4 days. Issue closed.

[2016-09-06 16:15] #1 closed

[2016-09-09 08:52] brodeurlv opened #10 "Update Profile UI"
Found in version: 0.11

Current behavior: UI is flat

Expected behavior: UI with cardview

[2016-09-09 08:56] brodeurlv opened #11 "Add body measures"
Found in version: 0.11

Current behavior: Only body measures is weight

Expected behavior: Add biceps, leg, chest measures

[2016-09-09 08:58] brodeurlv opened #12 "Add header to table without sort"
Found in version: 0.11

Current behavior: No table header

Expected behavior: Add header. No need for sort.

[2016-09-09 09:19] brodeurlv opened #13 "Create random play on MP3 player"
Found in version: 0.11

Current behavior: No random play possible

Expected behavior: Add new button in MP3 bar

[2016-09-09 10:33] brodeurlv opened #14 "List view for dates in history fragment badly formatted"
Found in version: 0.11

Current behavior: 2016-12-31

Expected behavior: 31/12/2016

Step to reproduce:

[2016-09-09 14:45] brodeurlv opened #15 "Add license for antoniom Chronometer"
Found in version: 0.11

Current behavior: No mention of this Chronometer

Expected behavior:
https://github.com/antoniom/Millisecond-Chronometer

[2016-09-22 20:25] brodeurlv commented on #15
Added

[2016-09-22 20:25] #15 closed

[2016-09-22 20:44] brodeurlv commented on #10
Done

[2016-09-22 20:44] #10 closed

[2016-09-25 13:34] brodeurlv opened #16 "Display all tabs in the same screen"
Found in version: 0.11

Current behavior: You only see Records and beginning of Graph

Expected behavior: See all tabs title in the screen

Step to reproduce: NA

[2016-09-25 13:35] brodeurlv commented on #16
Planned to use
astuetz/PagerSlidingTabStrip
https://github.com/astuetz/PagerSlidingTabStrip

[2016-09-25 17:56] brodeurlv opened #17 "Suppress DialogFragment memoryleak"
Found in version: 0.11

Current behavior: Error on compilation "fragment-inner-class-should-be-static"

Expected behavior: no Leak :)

Step to solve:
http://stackoverflow.com/questions/15571010/fragment-inner-class-should-be-static

[2016-09-25 20:55] #16 closed

[2016-12-16 11:32] brodeurlv opened #18 "Possibility to have the chrono work in background"
Found in version: 0.12

Current behavior: window above everything

Expected behavior: possibility to hide the window

Step to reproduce:

[2016-12-16 11:33] brodeurlv opened #19 "Possibility to set machines as favorite and have then on top of the list"
Found in version: 0.12

Current behavior:

Expected behavior:

Step to reproduce:

[2016-12-16 11:43] brodeurlv opened #20 "Display the date in local format"
Found in version: 0.12

Current behavior:

Expected behavior:

Step to reproduce:

[2017-01-13 11:52] brodeurlv opened #21 "Change mp3 time while clicking on the time-line"
Found in version: 0.12

Current behavior: nothing. Music can only be played from the beginning

Expected behavior:

Step to reproduce:

[2017-05-28 20:36] brodeurlv commented on #21
Implemented.

[2017-05-28 20:36] #21 closed

[2017-06-04 10:16] brodeurlv opened #22 "Mettre à jour library graphic"
Found in version: 0.13

Current behavior:

Expected behavior:

Step to reproduce:

[2017-06-04 10:18] brodeurlv opened #23 "Launch rest countdown after adding record"
Found in version:

Current behavior:

Expected behavior:

Step to reproduce:

[2017-06-15 17:50] brodeurlv opened #24 "Add body measures"

[2017-06-15 17:58] brodeurlv opened #25 "Simplifier la vue body building."
Cacher la date.
Mettre une option: more option en bas

[2017-06-16 16:02] brodeurlv opened #26 "Bouton pour résumé de la seance"

[2017-08-06 08:17] #25 closed

[2017-08-06 08:17] brodeurlv commented on #25
Implemented

[2017-08-06 08:18] brodeurlv commented on #23
Implemented in 0.13

[2017-08-06 08:18] brodeurlv commented on #22
Migration to 3.x ongoing

[2017-08-06 08:20] #23 closed

[2017-08-06 21:24] brodeurlv commented on #22
Migration done. Much better performances

[2017-08-06 21:24] #22 closed

[2017-08-06 21:24] brodeurlv commented on #17
Fragment implemented in static as all other fragments.
Plus checking recreation.

[2017-08-06 21:24] #17 closed

[2017-08-06 21:25] #24 closed

[2017-08-07 13:32] brodeurlv opened #28 "Create new Profile layout"
Found in version: 0.12

Current behavior: Not very friendly UI. Differentiate Profile info and Body info

Expected behavior:

Step to reproduce:

[2017-09-14 07:32] brodeurlv commented on #12
Done

[2017-09-14 07:32] #12 closed

[2017-10-08 21:36] brodeurlv commented on #14
Corrected in 0.13

[2017-10-08 21:36] #14 closed

[2017-10-08 21:36] brodeurlv commented on #11
Done in 0.13

[2017-10-08 21:36] #11 closed

[2017-10-08 21:36] brodeurlv commented on #20
Done in 0.13

[2017-10-08 21:36] #20 closed

[2018-02-11 08:45] brodeurlv commented on #26
Done in 0.14

[2018-02-11 08:45] #26 closed

[2018-05-13 08:09] brodeurlv commented on #19
Done in 0.14.3

[2018-05-13 08:09] #19 closed

[2018-06-04 13:48] EGUltraTM opened #29 "How to build"
Im trying to build it actually with Android Studio.

Or what was used for it?

Also which java Version is needed?

Getting this errors:

1. error: resource xml/provider_paths (aka com.easyfitness:xml/provider_paths) not found.
Message{kind=ERROR, text=error: resource xml/provider_paths (aka com.easyfitness:xml/provider_paths) not found., sources=[C:\xxx\fastnfitness-master\app\build\intermediates\

[2018-06-04 21:18] brodeurlv commented on #29
Hi EGUltraTM,

Nice to see someone looking in detail to my project. You catch right away an issue. The reason is that I forgot to push the new files of my last update. Thank you for this, it is fixed now. You should have the provider_paths.xml now in the resource files.

Concerning your second issue, maybe it is due to the first one or maybe there is something wrong in your gradle config. You can

[2018-06-04 21:21] brodeurlv commented on #29
And I forgot to answer your first question, but yes I do use Android Studio

Android Studio 3.1.2
Build #AI-173.4720617, built on April 13, 2018
JRE: 1.8.0_152-release-1024-b02 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Have a nice day.

[2018-06-05 05:18] EGUltraTM commented on #29
Hi,

thanks yes the missing file fixed the project. First i would like to add the german translation to it. Then i will look into the code and can maybe help fix bugs if there are some.

A think which is missing on my side would be a kind of an calender where you can add workouts to each days of the week and then being able to start them and finish them instead of insert what you have finished :)

[2018-06-05 14:32] brodeurlv commented on #29
Ok great !
I'm definitevely interrested in German translation and bug fixes :).

Concerning the calendar, I thought about it but all I have seen in every app is very heavy and not easy to use.
I was actually more thinking about create a guided session. Example:
1-You select an Exercise
2-You select a type of guided session (Physical maintenance, New max,...) and maybe ask some parameters
3-It crea

[2018-06-05 14:33] #29 closed

[2018-06-05 14:34] brodeurlv commented on #29
I closed the issue as it is solved, but we can continue discussing future evolution of fastnfitness :).

[2018-06-05 16:49] brodeurlv opened #30 "Guided sessions"

[2018-06-07 17:47] EGUltraTM commented on #30
https://github.com/chaosbastler/opentraining

this isnt maintanted anymore. But has a only a good thing when actual train. So you can say Set 1 finshed Set 2 finished and so on until you finished your workout. Like the notepad and pen you would have in the gym.

Maybe include the style of this thing?

[2018-06-13 12:19] EGUltraTM commented on #30
@brodeurlv ,

oh damn btw the body measurment seems to not export. I reinstalled the app and stuff now its gone. And when exporting all except the measurements is there. Is it a bug or simply missing?

[2018-06-13 12:55] EGUltraTM commented on #30
Hi,

here is the strings file in german (de). Its ready and i tested it. Sure i can also Translate the PlayStore content to german.

`<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="global_confirm">Bestätigen</string>
    <string name="global_warning">Warnung</string>
    <string name="global_error">Fehler</string>
    <string name="global_cancel">Abbrechen</string>
    <strin

[2018-06-13 12:57] EGUltraTM commented on #30
Hi,

attached the german translation. In the future i will update them by pull request. I will also translate the PlayStore content. Im also programming some visual basic at the moment in Excel to receive an diagram and stuff for importing the csv files as text into excel. So we can see the progress better also on the pc.

Thats why i was seeing export is not 100% also the weight is the stuff you

[2018-06-16 10:41] EGUltraTM commented on #30
Hi @brodeurlv ,

i will update the translation in german with your new stuff and also the google play in german today.
Will post it here when im ready

[2018-06-16 11:57] brodeurlv commented on #30
Hey awesome!
As soon as you send this to me I will do a new publication on the Google
play.
Thank you for your help.

Le sam. 16 juin 2018 12:41, EGUltraTM <notifications@github.com> a écrit :

[2018-06-16 13:55] EGUltraTM commented on #30
I updatet the post above there you can find the files 👍

[2018-06-18 11:36] brodeurlv commented on #30
Hi EGUltraTM,
Thank you for the files. I have update the Google play page.
I have also created a 0.14.6 version in Beta this week with the german traduction and I will push it to production today.
Have a nice day !

[2018-06-27 14:14] brodeurlv opened #31 "Fix CVS export"
Found in version: 0.14.6
Current behavior: Not all data are exported/imported
Expected behavior: All data should be exported/imported

@EGUltraTM, I opened this bug to track your remark on the CVS export.
Did you work on this topic or do you need help to fix this ?

[2018-06-27 14:20] EGUltraTM commented on #31
HI,

at the moment im on an business trip for the next 2 weeks. So i cant work on fixing this even if it shouldnt be a big deal at all. If you could fix it it would be nice.
When im back i need to get more into your code and start working with it.

But at the moment im in China and i will fly to America and Spain and then finally back.

[2018-06-27 14:37] brodeurlv commented on #31
I'm currently working on a new "profile" page. You will probably be back before I finish. I will let you know if not.

[2018-08-12 07:46] brodeurlv commented on #28
Done in 0.15

[2018-08-12 07:46] #28 closed

[2018-09-14 06:01] brodeurlv commented on #31
Hello,
it is fixed.

[2018-09-14 06:02] brodeurlv commented on #31
In 0.15.1.

[2018-09-14 06:02] #31 closed

[2018-09-27 08:43] geniusupgrader opened #32 "Renaming of terms (on most of the screens and especially in export)"
On the Body Building tab and when exporting, some terms should be renamed:

**poids -> weight**
**repetition -> reps**
**serie -> sets**
and maybe: **machine -> exercise** (because then its the same with cardio export? see below)

Same for the profile export:
table, id, poids, date
**poids -> weight**

Why is the order different from the bodybuilding table export? Should be the same: table, id, da

[2018-09-27 09:33] geniusupgrader opened #33 "Regarding other types of exercises"
For now we have two categories:

- Body Building
- Cardio (Beta)

The Body Building exercises are described with: "Repetitions" and "Weight". (And multiple ones can concatenated with "Series".)
The Cardio exercises are described with: "Distance" and "Duration".

But there are other exercises, which require different types of descriptions, like:

- Only Distance
- Only Duration
- Only Weight
- Only

[2018-09-27 10:18] geniusupgrader commented on #33
Almost forgotten: a tempo description can be added for every exercise (how fast you do the exercise)

[2018-09-29 08:34] geniusupgrader opened #34 "License"
Which license does fastnfitness have exactly?
@brodeurlv

[2018-09-29 08:36] geniusupgrader commented on #32
After looking through the source code, there are still many comments and variables in french. For me this is not a problem, but preferable there should be only one language then.

[2018-09-29 10:31] brodeurlv commented on #32
hi, thank you very much for all your comments. this is very helpful.
yes you're right. I started the development in French for my personal use and then I decided to make it open source and so more international.
I will update in priority the UI and the export. for the comments it will be based on opportunity.
Would you mind reviewing also the body part for the measures. I'm not sure everything is

[2018-09-29 10:39] geniusupgrader commented on #32
What do you mean exactly with "body part for the measures".
Do you mean something inside the  "Body Track" fragment?
Or do you mean the units kg/lbs inside the "Body Building" fragment?

[2018-09-29 14:51] brodeurlv commented on #34
@geniusupgrader ,

It is in BDS3 license. I have added the License to the repository.
Thanks

[2018-09-29 14:51] #34 closed

[2018-09-29 14:52] brodeurlv commented on #32
Yes, I meant the Body Track. In particular, the "Hips".
Thanks.

[2018-09-30 08:41] geniusupgrader opened #35 "Revision of Body Track"
Coming from #32 :

The Body Track needs a revision.

[2018-09-30 10:21] geniusupgrader opened #36 "How to do development? (In Readme)"
I had problems to clone this project correctly inside Android Studio and build it without errors.
In the Readme there should be a section explaining how to develop the code (for others).

[2018-09-30 10:50] brodeurlv commented on #33
Hi,

I'm currently merging the 2 fragments Cardio and Fontes. It will be much easier in term of maintenance and evolution. This will be an enabler to add other kind of records.

Thanks for the detailled comments here. It is very helpful.

[2018-09-30 10:52] geniusupgrader commented on #33
Thanks for tackling this.

[2018-09-30 11:10] geniusupgrader opened #38 "Unnecessary casts at findViewById"
I dont know if you want this, but.. all unnecassary casts should be deleted.

see here: https://stackoverflow.com/questions/44902651/no-need-to-cast-the-result-of-findviewbyid

or here: https://stackoverflow.com/questions/45092494/android-o-casting-to-findviewbyid-not-needed-anymore?noredirect=1&lq=1

[2018-09-30 14:43] geniusupgrader commented on #35
I've tested the functionality and the code of Body Track, but can't find any big mistakes. Where do you think is it not correct, exactly?

[2018-09-30 14:48] geniusupgrader commented on #35
Well, the name „behind“ could be just „hips“.

[2018-09-30 14:55] geniusupgrader commented on #36
I've done this because #29 has not that many infos how to do it

[2018-09-30 15:27] geniusupgrader opened #40 "Exercise page: Missing functionality to add a new exercise"
Found in version: 0.15.2

Current behavior: At the exercise page/fragment no new exercise can be added, because it is connected within the BodyBuilding page. And only when adding a new record the actual exercise/machine is recorded as well.

Expected behavior: The exercise page/fragment should be responsible for the management of all exercises. So its natural to add a new exercise there as well. A

[2018-09-30 15:28] geniusupgrader commented on #40
I will look into this

[2018-09-30 16:39] brodeurlv commented on #35
Behind vs Hips was indeed my main doubt. I started calling it "behind" and then changed the label. But if nothing is shocking you then that should be fine. Thank you for checking.

[2018-09-30 16:39] #35 closed

[2018-09-30 16:43] brodeurlv commented on #40
Oh that's great. I'm doing quite a big refactoring on how the records are managed but that should not impact the Exercise part.
Thanks.

[2018-09-30 20:52] geniusupgrader opened #41 "MachineDetailsActivity is not registered in the Manifest"
Found in version: 0.15.2

Current behavior: MachineDetailsActivity is not registered in the Manifest

Expected behavior: Either it should be registered,
or if it is a parent class it should be make abstract
or it should be deleted.

Step to reproduce:

[2018-09-30 21:46] brodeurlv commented on #41
Good catch. It should be deleted. I used it before but I migrated it to a fragment.

[2018-09-30 21:49] geniusupgrader opened #42 "Bug within exercises merge functionality"
Found in version: 0.15.2

Current behavior:
At the exercise page, when changing the name to a already used name then the two exercises get merged:
**click on save button -> merge dialog -> yes**

But the app crashes with clicking the backbutton on the top left corner first:
**click on backbutton -> save dialog -> yes -> merge dialog -> yes -> CRASH**

Expected behavior:
not crash but merge.

Step

[2018-09-30 22:07] geniusupgrader commented on #40
I've added this functionality in #43, maybe you can take a look?

[2018-10-01 12:39] #38 closed

[2018-10-01 12:41] geniusupgrader commented on #38
thanks

[2018-10-01 17:04] brodeurlv opened #44 "Countdown doesn't vibrate when screen is off"
observed in 0.15.2

[2018-10-02 22:37] geniusupgrader commented on #42
Nice!

[2018-10-03 07:45] brodeurlv commented on #41
I removed the file in the last commit.
Thanks.

[2018-10-03 07:45] #41 closed

[2018-10-03 07:46] brodeurlv commented on #40
So this is fixed ! Thank you for your contribution.

[2018-10-03 07:46] #40 closed

[2018-10-03 15:29] #36 closed

[2018-10-04 09:12] geniusupgrader opened #45 "Image of exercise not taken over"
Found in version: 0.15.2

Current behavior:
In the Body Building page: When at least two letters in the exercise field (Enter exercise name here) are entered, then a window pops up with the corresponding exercises, which have these letters in their name. When clicking on an exercise with an image, the text is transfered in the exercise field, but the image is not taken over into the round image on

[2018-10-04 09:16] brodeurlv commented on #45
Hi,
Yes you're right. That's funny because I reallized that yesterday while I
was continuing the merge of cardio and fonte fragment.
This should be fixed with this update.
Thanks.

On Thu, Oct 4, 2018, 11:12 AM Robin Rosenstock <notifications@github.com>
wrote:

[2018-10-04 09:18] geniusupgrader opened #46 "Feature request: filtering/searching for exercises in the exercises page"
Found in version: 0.15.2

Current behavior:
When there are many exercises in the exercises page it is difficult to find the one you're looking for to edit it.

Expected behavior:
So some function for filtering or searching for the exercise page would be nice. I guess, something like the exercise completion from the Body Building page (when typing in the exercise field) is sufficient.

[2018-10-04 09:19] geniusupgrader commented on #45
Nice.
By the way: Good luck with the merge then

[2018-10-04 09:43] brodeurlv commented on #46
Yes you're right that would be nice. Do you think this is something you
could do ?

On Thu, Oct 4, 2018, 11:18 AM Robin Rosenstock <notifications@github.com>
wrote:

[2018-10-04 14:41] brodeurlv opened #47 "Being able to set a Exercise as favorite directly from List"
Found in version: 0.15.2

Current behavior: Exercise Favorite flag can only be set in the Machine details.

Expected behavior: Being able to set a Exercise as favorite directly from Exercise List

[2018-10-04 14:57] brodeurlv opened #48 "Allow to edit Exercise details directly from the BodyBuilding fragment"
Found in version: 0.15.2

Current behavior: Exercise details can only be edited in Exercise page.

Expected behavior: Could be set directly in the Exercise list by clickinng on the exercise.

[2018-10-04 15:33] geniusupgrader commented on #48
Where exactly do you want to click on? If you click inside the text view (Enter exercise name here) you choose another exercise, if you click on the list symbol you get the popup list and when you click an exercise there it get transfered into the text view as well.

Maybe you mean to add another button in each row of the popup list?

I would propose **long clicking**:
So, when long clicking on th

[2018-10-09 21:50] #47 closed

[2018-10-09 22:02] #48 closed

[2018-10-09 22:13] #32 closed

[2018-10-09 22:16] brodeurlv opened #49 "CSV Export renaming of columns"
Split of #32 but addressing only CSV.

Same for the profile export:
table, id, poids, date
poids -> weight

Why is the order different from the bodybuilding table export? Should be the same: table, id, date, weight

The Cardio export reads:
table, id, date, exercice, duration, distance, profil_id
So there is a spelling mistake:
exercice -> exercise

[2018-10-20 19:02] geniusupgrader commented on #48
I think its ok for now

[2018-10-21 14:10] nmarkuks18 opened #50 "The app crashes when trying to display a graph Maximum (reps >=5), if there isn’t any"
Found in version: 0.15.3

Current behavior: In the Graphs tab in Body Building page: When choosing an exercise which has less than five reps from the drop-down list and selecting display option Maximum (reps >=5), the app crashes.

Expected behavior: Displays empty graph.

Step to reproduce:
1)	Body building page: create a new exercise or choose one from the list, insert less than 5 reps and press

[2018-10-21 21:06] geniusupgrader commented on #46
I've made a Pull Request!

[2018-10-21 21:11] geniusupgrader commented on #33
I want to empahasize this:
**FastnFitness should become more general** in its exercises and everything (not only for Weight lifting).

[2018-10-22 14:07] brodeurlv commented on #50
Hi,
Thank you for your feedback.

Hum, that's strange! I'm not able to reproduce the crash on my side. I would say that there is indeed an issue because it is displaying a graph even if there is less that 5 records but not crashing.

Anyway, I can fix this and this will surely fix your issue as well.
I will include it in the next release.

Which version of Android do you use ?

[2018-10-22 15:50] brodeurlv commented on #33
yes you're right. I'm progressing on the development but the impact it significant. I need to make sure there is no regression.  You can have a look at my MergedUI branch if you want to see in which direction I'm heading.
Don't hesitate if you have remarks.

[2018-10-22 16:48] brodeurlv commented on #50
My bad. I finally succeed to reproduce it. I will fix that.
thanks

[2018-10-22 17:28] nmarkuks18 commented on #50
No worries, and sorry for the delay, github is having some issues today..

I’m able to reproduce the crashing every time I do those steps and before I reported it, I asked my friend to download the app and try the same steps to see if that happens to him too, and it does - just to make sure it’s not only because of my old android. So, my android version is 6.0.1 and my friend’s 8.0.0.

For me (and

[2018-10-22 18:01] #50 closed

[2018-10-22 18:28] brodeurlv commented on #50
it fixed.
thank you for rising this issue.
will be in the next release.

[2018-11-08 22:11] brodeurlv commented on #45
Fixed in 0.16.

[2018-11-08 22:11] #45 closed

[2018-11-08 22:13] brodeurlv commented on #33
Both cardio and bodybuilding UI are merged in 0.16.
I have not addressed other types of exercises but I'm thinking about it for after.

[2018-11-08 22:18] geniusupgrader commented on #33
thank, what about pull request  #46 from me. Is it compatible?

[2018-12-11 20:27] geniusupgrader opened #52 "Failed to resolve: support-core-utils"
Found in version:
latest commit: 1e7b5df

Current behavior:
After starting and cloning the repo new and try to build it with Android studio I get the following error:

`Failed to resolve: support-core-utils`

Expected behavior:
It should build without problems and without user interference!

Step to reproduce:
Clone an build

[2018-12-25 18:45] #52 closed

[2019-01-02 16:43] geniusupgrader opened #55 "Cardio (obsolet) fragment/panel should be removed"
Found in version:
0.16.1

[2019-01-02 16:44] geniusupgrader commented on #46
Can you have a look at my updated Pull Request?

[2019-01-07 12:32] brodeurlv opened #56 "Possibility to reuse old records data for current record"
Found in version: 0.16.1

Expected behavior: Click on an old record to duplicate data to the current record

[2019-01-07 12:35] brodeurlv opened #57 "Refactoring of Record Class to use Interface and Abstract class."
Found in version: 0.16.1

Current behavior: Cardio and Fonte and Record do not have a proper hierarchy. It has to be reorganised using Interface.

[2019-01-16 20:37] #46 closed

[2019-01-16 20:55] #57 closed

[2019-01-16 20:55] #56 closed

[2019-03-09 08:59] jawz101 opened #59 "Add to F-Droid?"
Have you considered offering this on F-Droid?

@Izzysoft

[2019-03-09 12:30] IzzySoft commented on #59
Similar to your issue on the other project: open an [RFP](https://gitlab.com/fdroid/rfp/issues). Tags are already there (but no APKs, so I cannot take it into my repo straight away), license is fine, verionCode/versionName are missing from gradle (but are available in the Manifest).

[2019-03-09 21:12] brodeurlv commented on #59
Hi guys, no problem to put it on F-droid. On the contrary. So should I publish the apk also on github, is that it? Thanks.

[2019-03-09 22:22] IzzySoft commented on #59
Thanks, @brodeurlv! F-Droid builds from source (and thus wouldn't use the APK). But until your app is listed there, it might take a little. Providing the APK here (preferably attached to its corresponding tag) would enable me to immediately take it into [my repo](https://apt.izzysoft.de/fdroid/repo) until then (and fetch updates automatically within 24h of the next tag being made with an APK attac

[2019-03-14 22:05] brodeurlv commented on #59
I'm working on a new release. I will make it clean with the tag and the apk. I will let you know. Maybe this week end, or the next one.
Thanks

[2019-03-17 21:58] #44 closed

[2019-03-17 22:01] brodeurlv commented on #55
Fixed in 0.17

[2019-03-17 22:01] #55 closed

[2019-03-25 20:13] IzzySoft commented on #59
Thanks! That looks great! Haven't yet checked whether you use some "blobs" in the source repo (JARs or the likes). If not, I'd say you should go for inclusion with the official repo. I gladly assist! Until then, I've included your app [with my repo](https://apt.izzysoft.de/fdroid/index/apk/com.easyfitness). Enjoy!

[2019-03-25 21:15] brodeurlv commented on #59
Thanks izzy.
However I see version 0.16.3 on your site while it should be 0.17.
Did you get this version from the apk?
Thanks

Le lun. 25 mars 2019 à 21:13, Izzy <notifications@github.com> a écrit :

[2019-03-26 09:32] IzzySoft commented on #59
Could you please check what the APK says (I can't at the moment as I'm not at my machine)? I don't compile myself, I only pick the APK you attach to the releases. And as there's only one, I hardly could have picked the wrong one :wink:

[2019-03-26 21:38] brodeurlv commented on #59
I don't know exactly what went wrong but anyway, I have regenerated the 0.17 apk and the tag.
It should be good this time, I have unzipped the APK to make sure it is the correct version inside.
Sorry for that.
Thanks.

[2019-03-27 01:18] vlamacko opened #60 "Unable to create a profile"
At the end of the introductory slideshow the user is prompted to create a profile. I am unable to create one because the entire form is unresponsive. The buttons can't be clicked and the text field can't be activated.

I have tested this with same result using the Google Play version, F-Droid version and the GitHub latest release apk.

[2019-03-27 07:02] brodeurlv commented on #60
Oh, that's ugly !
Can you please give me more info on your phone ? Android version, Phone version, ....
Can you also snapshot the freezing screen ?
Thank you very much for rising this bug. I will try to fix it asap if I can reproduce it.

[2019-03-27 07:17] brodeurlv commented on #60
One more question, are you able to set the birthday date ?

[2019-03-27 07:42] brodeurlv commented on #60
Can you try this pre-release and tell me if it fix your issue ?
https://github.com/brodeurlv/fastnfitness/releases/download/0.17.1/app-release.apk
Thanks.

[2019-03-27 11:00] vlamacko commented on #60
The prerelease seems to have fixed everything, including the birthday picker.

Thanks!

I am using Mi A2 Lite with Android 9.

[2019-03-27 11:09] brodeurlv commented on #60
Great ! thank you for your help !

[2019-03-27 11:09] #60 closed

[2019-03-27 11:12] brodeurlv commented on #59
@IzzySoft ,
How does it work when I release a new version ? Should I send you a request each time or is it automatic ?
I have just fixed a major issue #60 this morning on recent android version and release a 0.17.1.
Thanks.

[2019-03-27 12:01] IzzySoft commented on #59
It's automatic. Within 24h of your attaching an APK to a new tag it should be grabbed by my updater (and usually is; if you get a report it's not, a ping cannot hurt :wink:). So 0.17.1 should be available via my repo in about 7..8 hours (with the sync around 8pm CET). Thanks!

[2019-03-27 20:57] IzzySoft commented on #59
Looks like it worked out, I just checked. Thanks again!

[2019-04-02 18:05] GrantMoyer opened #61 "Add seconds unit for static exercises"
Current behavior: Only lbs and kg are available as units

Expected behavior: lbs, kg, and s, available as units

This would allow tracking exercises such as static hangs.

[2019-04-05 20:46] brodeurlv commented on #61
Hi GrantMoyer,
Good idea! Thinking about it, I would propose more to create a new type of exercise close to bodybuilding one, but changing "Reps" by "Seconds".
So you would have
Series - Seconds - Weight

Sometimes you might want to do static hangs with additional weight so it would be better to keep it.

What do you think ?
Thanks for your feedback.

[2019-04-07 00:56] GrantMoyer commented on #61
Given that number of repetitions makes no sense for static exercises, I think your suggestion is the right way to implement static exercise support.

However, it also has implications for the graph screen. Currently, reps aren't graphed, but instead used as a filter for what data to graph. So, whereas for repetition exercises, you plot the maximum weight lifted for greater than N reps, for static

[2019-04-08 21:39] RayVermilion opened #62 "FFMI as alternative to BMI"
Hi,
thanks for your work, the app does look really great so far.
I recommend to use the formula for the Fat free mass index (FFMI) as an alternative (maybe via spinner) to the current BMI.
As for Bodybuilders that would make more sense.

You can find the formula here
https://goodcalculators.com/ffmi-fat-free-mass-index-calculator/

An even mire detailed report you can find here
https://www.ncbi.nl

[2019-04-14 20:22] brodeurlv commented on #62
Nice idea. I was thinking also about RFM calculation, but it requires more work.
For FFMI, I don't know this one. Thank you for letting me know. It should be simple to add. I will make it available in the next release.
Thanks.
Best regards,

[2019-05-03 05:51] HarryHeights opened #64 "Contributor's guidelines & a formal privacy policy."
Hello, I'm Harry. I engage in content creation for open source software. I mostly just create documents which I think would be valuable to the project. I'd like to contribute to yours by creating a contributor's guidelines, and make your privacy policy statement more formal. What do you think?

[2019-05-04 17:44] cckole opened #65 "App crashed after clearing data by resetting the app and re-using the app"
***Found in version***: 0.17.2

### Current behavior:

I reset the application to delete all my data in order to start afresh, but after resetting it, few touches on the app made it to crash.

### Expected behavior:
I expected the app to work just as it does when I first installed and start using it.

### Step to reproduce:
- Launch the app

- Create a profile

- Click on the three dots(menu) by t

[2019-05-11 07:18] brodeurlv commented on #65
Hi @cckole ,

Thank you for this report. It's so cool to have a recording of the issue !
I'll work on it this week end and I'll let you know.

[2019-05-11 07:41] brodeurlv commented on #64
Hi @HarryHeights

I would love to have you contribute to the project. Can you give me more details on what would be on the contributor guidelines ? Do you have any example ?
And for the privacy policy also. Don't hesitate to make a pull request and I will review it.

Thank you @HarryHeights .

[2019-05-11 21:40] HarryHeights commented on #64
I'll send a pull request for the privacy policy. But, I need a few information, about third-party libraries.

Here's a sample contributor's guidelines [here](https://github.com/hanjoongcho/aaf-easydiary/blob/master/Contributing.md)

[2019-05-12 10:32] #65 closed

[2019-05-12 12:08] brodeurlv opened #66 "Allow editing of record"
Found in version: 0.17.2

Current behavior: Display "available soon"

Expected behavior: Enable editing

[2019-05-12 12:31] brodeurlv commented on #59
I have just created the request for the main repo.
https://gitlab.com/fdroid/rfp/issues/982
Hope it's ok.

Thanks.

[2019-05-12 12:44] brodeurlv commented on #62
Added in 0.17.3.

[2019-05-12 12:52] #62 closed

[2019-05-12 13:08] IzzySoft commented on #59
Thank you! Yes, just saw that. Will wait for the bot to check and comment then on its findings (e.g. by posting the metadata for our "integrators" to use).

[2019-05-12 15:46] brodeurlv commented on #64
Ok. Regarding the third party, you should have almost everything here :
https://github.com/brodeurlv/fastnfitness/blob/master/app/src/main/java/com/easyfitness/AboutFragment.java

Let me know if you need something else.

[2019-05-25 06:27] chrisbarth01 opened #69 "Offering Proofreading skills"
Hello, my name is Christopher Bartholomew, I love contributing to open source softwares. Normally, I often promote open source softwares by writing a blog post about them. However, I also want to be offering my proofreading skills to open source softwares. So I'd love to contribute to your project by proofreading any content which you want me to proofread. I also intend to hear from you.

[2019-05-25 21:36] brodeurlv commented on #69
Hi Chris, thank you for the offering. I will let you know if I need any proofread.
Thanks.

[2019-05-25 21:36] #69 closed

[2019-05-31 07:52] #64 closed

[2019-06-15 09:45] brodeurlv commented on #61
WIll be available in 0.18. Thanks.

[2019-06-15 09:45] #61 closed

[2019-06-15 09:46] brodeurlv commented on #59
I have removed the  javacsv.jar. It now compiles from source code.
It should fix the issue on FDroid.

[2019-06-15 12:35] IzzySoft commented on #59
Thanks! I've asked relan to give it another try.

PS: Should that be a pre-release, or was it accidentally marked such?

[2019-06-15 12:44] brodeurlv commented on #59
Thanks IzzySoft.
I marked it has pre-release has I'm waiting for some beta tester feedback before making it a release and pushing it in production in the google play.
Does it has an impact on F-Droid ?
Thanks

[2019-06-15 13:19] IzzySoft commented on #59
My updater won't pick it as long as it's a pre-release (that is, unless I change that setting for your app). So fine with me, just wanted to make sure. As soon as the "pre-release mark" is gone, my updater will fetch it.

Not sure what impact it would have with the official repo (I've no build experience so I don't know much about that part). But as your app isn't yet listed there, it won't have a

[2019-06-15 17:40] brodeurlv commented on #59
Ok thanks. I received the feedback I was waiting for. I have changed it to "release" so your repo should be able to take it now.
Thank you for your help here ! Much appreciated.

[2019-06-15 17:52] IzzySoft commented on #59
Thanks! Missed it by ~10 minutes, the update job is just through for today. Will be picked tomorrow then. If you want pre-releases picked as well: no big deal, just need to switch a boolean for that. Tell me, and I do it. Or tell me not to, and I leave it :smile:

[2019-06-19 16:36] nutpantz opened #70 "feature request: cardio info"
I would love to see some more cardio options found on cardio machines.
Info like,  program or workout' # or name, calories, max heartrate, min heartrate, resistance level. Etc.

[2019-06-21 08:43] brodeurlv commented on #59
Hi @IzzySoft,
I was trying to find my app on your repo but I couldn't. This link  https://apt.izzysoft.de/fdroid/index/apk/com.easyfitness, that you provided before in this thread, is heading to a dead end.
I also could not find it on FDroid.  Can you help me here?
Thank you.

[2019-06-21 19:21] IzzySoft commented on #59
Ouch! No idea what happened there – for some reason it got disabled. Hopefully fixed it now, should become visible with the next sync. Will probably trigger one manually to make up for the mess. Link is correct and will work once the sync is complete. Apologies for the confusion!

[2019-06-25 17:51] adewararilwan opened #72 "Add Reminder Feature"
Components
My suggestion is on the
-  Setting  Interface

### Proposal

Adding a new feature will improve the application and the feature includes:
#### Reminder  Feature

#### Reminder
 I suggest the addition of a new feature “Reminder”. It will be a very good idea when users are being reminded of fitness training every day from their mobile phones. In cases where the user of Fast N Fitness have

[2019-06-25 19:14] brodeurlv commented on #72
Hi @adewararilwan , thank you for the details request. I agree it could be good to have this kind of reminder. Compared to all the other topics I have in mind, it is pretty low in priority. However, if you want to develop it and make a pull request, I will integrate it with pleasure.
Best regards,
Charles

[2019-07-01 16:50] #59 closed

[2019-07-01 19:29] IzzySoft commented on #59
Congrats for reaching the official repo, @brodeurlv! Do you want me to keep the app in mine (faster updates), or shall I rather remove it (to avoid confusion with "signature mismatch")? Usually, at this stage I do the latter. But with the official repo currently being a bit behind (no fresh index for about a week already), I could postpone removal for a little if you wish.

[2019-07-01 21:12] brodeurlv commented on #59
Thanks Izzy. Honestly, I'm fine whatever way you prefer. I understand if
you need to clean up your repo.
Anyway, thank you very much for your support during this step to the
official repo. Your availability and kindness has been very appreciated.
Thank you.

Le lun. 1 juil. 2019 à 21:29, Izzy <notifications@github.com> a écrit :

[2019-07-01 22:01] IzzySoft commented on #59
Glad to! I'll drop it then as soon as the new index (with the 18.1 release) is pushed out. Should the need arise, I can re-establish it anytime, just drop me a note then.

[2019-07-02 12:19] WO15 opened #74 "Import of CSV files lead to incorrect dates."
Found in version: 0.18 downloaded from F-droid.

Current behavior: exported records, reset application, created new profile, import records. Exercises are visible but dates are shifted, exercises done one july 2 are now listed as done on july 1. When I check the csv files they seem to be correct.

Expected behavior: after import I would expect the correct dates to be shown.

Step to reproduce: see

[2019-07-02 12:30] WO15 opened #75 "Import of body weight measurements from exported csv files seems not to work."
Found in version: 0.18 downloaded from F-droid.

Current behavior: exported records, reset application, created new profile, import records. After importing EF_xx_BodyMeasures_xxxx file. App indicates that import is successful.  I would expect the weight measurements to be visible under the Weight Track menu item. However this is not the case. When you check the EF_xx_BodyMeasures_xxxx.csv file it

[2019-07-02 13:27] WO15 commented on #74
Did review the issue in more detail, seems not to be a default shift in dates, but due to fact that 1 did have exercises on June 30, and july 2, but NOT on July 1. The exercises of July 2 (date on which I made the export and import). Are shifted (shown in app) to July 1.

[2019-07-02 13:31] WO15 opened #76 "App crashed during import of records if incorrect order of importing files is used."
Found in version: 0.18 downloaded from F-droid.

Current behavior: exported records, reset application, created new profile, import records. If you import e.g. EF_xx_BodyBuilding_xxx.csv before first importing EF_xx_Exercises_xxx.csv the app crashes.

Expected behavior: create an error message. Something like "Import error: First import the file EF_xx_Exercises_2019_07_xxx.csv"

Step to reproduce:

[2019-07-02 15:11] WO15 opened #77 "Time on which an excersise is performed is not inclded in exported CSV-files"
Found in version: 0.18 downloaded from F-droid.

Current behavior: When you use "export records"  several .CSV files are created. In the files containing the exercises the date on which the exercise is performed is listed however the time is missing. In the app the time is listed as hh:mm:ss. When you use these files e.g. for import the time is also missing.

Expected behavior: .CSV files should c

[2019-07-03 15:49] WO15 opened #78 "Small typo Bodybuildin in xercises menu"
Found in version: 0.18 downloaded from F-Droid

Current behavior: When creating a new exercise in: Menu, Exercise , ADD. The app asks "What type of Exercise? The 3rd option is Bodybuildin, assume this should be Bodybuildin**g**

Expected behavior: See description above.

Step to reproduce: see description above.

[2019-07-04 19:05] brodeurlv commented on #78
Hi, thank you for all those issues you've discovered. I will look at it this week end if I find the time.

Anyway for this particular error, the issue is not a typo  but an issue in the automatic scaling of the font.
Which version of Android do you have?

[2019-07-04 19:07] brodeurlv commented on #74
Do you have the CSV file you used to reproduce the issue? Thanks.

[2019-07-04 19:13] WO15 commented on #78
Hi, phone used when seeing the cut-off text uses Android 6.0
Screen resolution is 720 x 1280 pixels

[2019-07-04 19:39] WO15 commented on #74
EF_xx_Cardio_2019_07_02_13_22_28.csv
table,id,date,time,machine,duration,distance,profil_id
EFfontes,45,2019-07-02,,rowing,0,0.5,2
EFfontes,39,2019-07-01,,rowing,0,0.5,2
EFfontes,27,2019-06-28,,rowing,0,2.0,2
EFfontes,16,2019-06-25,,rowing,0,0.5,2
EFfontes,5,2019-06-22,,rowing,0,1.5,2
EFfontes,4,2019-06-22,,rowing,0,0.5,2
EFfontes,3,2019-06-21,,rowing,0,0.5,2

[2019-07-04 19:41] WO15 commented on #74
EF_xx_Exercises_2019_07_02_13_22_28.csv
table,id,name,description,type,bodyparts,favorites
EFmachines,4,biceps,,0,,false
EFmachines,6,crunch,,0,,false
EFmachines,5,lateral raise deltoids,,0,,false
EFmachines,9,plank,,2,,false
EFmachines,7,push-up,,0,,false
EFmachines,3,rowing,,1,,false
EFmachines,8,side crunch,,0,,false
EFmachines,10,sit-up,,0,,false
EFmachines,2,triceps,,0,,false

[2019-07-05 19:13] SenaidaHdez opened #79 "Suggestion: Include library of exercises"
The feature of import and export could be used to be able to import exercises already set up by other people. It'd be useful if we could have a common library of exercises, where we could include exercises settings to share, provided they are described properly.

[2019-07-07 16:22] brodeurlv commented on #76
With last commit, if one exercise doesn't exist then the import is cancelled.
I've also added a little warning on the import dialog. It is not the best solution, but for now, it does the job.
Thanks for submitting this issue.

[2019-07-07 16:22] #74 closed

[2019-07-07 16:26] brodeurlv commented on #79
Hi @SenaidaHdez ,

Yes, I agree, it would be great. I would require a rework of the import/export feature and then, it could do the job.
I will think about it for future releases. Then, it will require forum for people to share their files.

[2019-07-07 16:26] brodeurlv commented on #77
Fixed in last commit.

[2019-07-07 16:26] #77 closed

[2019-07-07 16:27] brodeurlv commented on #76
Fixed

[2019-07-07 16:27] #76 closed

[2019-07-07 16:27] brodeurlv commented on #75
Fixed

[2019-07-07 16:27] #75 closed

[2019-07-10 15:47] WO15 opened #81 "Suggestion: Create menu to manage muscles, just like there is a menu to manage exercises."
Found in version: 18.1

Current behavior: There is a predefined list of muscles  you can "assign" to exercises.

Expected behavior: It would be nice if there is a new menu "Muscles" Where you can manage the list of muscles so you can extend the default list and create new muscles to assign to exercises.

Step to reproduce:

[2019-07-15 19:29] t-8ch opened #82 "Feature request: Training plan/schedule"
It would be nice to be able to create predefined sets of exercises to represent training plans.

Possible features:
* Prefill number of sets, repetitions and weight from last record (maybe only from same training plan) for easier
* multiple separate day-plans per plan

[2019-07-17 13:00] WO15 opened #83 "Make it possible to log duration for cardio excersises with more precision (add seconds)"
Found in version: 0.18.1 downloaded from F-droid

Current behavior: for exercises marked as Cardio you can indicate the distance and the duration. For duration you can select hours and minutes. For e.g. rowing this is often not precise enough. It would be better to also add seconds so hh:mm:ss. The speed shown in the graphs menu becomes also more precise then.

Expected behavior: see above.

Step

[2019-07-19 06:48] brodeurlv commented on #83
You're absolutly right. I'll see what I can do.

[2019-07-19 06:50] brodeurlv commented on #82
HI @t-8ch,
I agree with you. I have already started something in that direction but it is a major change in the app so it will take a little bit of time.

[2019-07-19 06:51] brodeurlv commented on #81
@WO15,

It could be interesting indeed. In the mean time, I can add them manually. Which muscles are missing for you ?
Thanks.

[2019-07-20 06:56] relan opened #84 "Google Play Services make 0.18.3 incompatible with F-Droid"
Found in version: 0.18.3

Current behavior: build.gradle includes [com.google.gms:google-services](https://github.com/brodeurlv/fastnfitness/blob/0.18.3/build.gradle#L15).

Expected behavior: no proprietary bits.

Step to reproduce: n/a.

F-Droid requires apps in its main repo to be 100% free (libre) software. Google Play Services libraries are proprietary.

If I understand correctly, you want to

[2019-07-22 07:20] brodeurlv commented on #84
Hi @relan ,

Thanks for letting me know. For now I will just remove the Google play services. I'll see later for ACRA.
Best regards,

[2019-07-22 07:20] #84 closed

[2019-07-22 08:04] relan commented on #84
Thanks! F-Droid will pick up 0.18.4 automatically.

[2019-07-26 21:55] nutpantz opened #85 "feature request. bodyweight exercise support"
Body Weight exercise support would be fantastic
I think it usually only needs just exercise name, and either reps ( ie sit ups) or time (plank held for time)

[2019-08-02 15:19] WO15 opened #86 "Make changing values in workout menu more easy."
Found in version: 0.18.4 downloaded from F-droid.

Current behavior:
When you select an exercise in the Workout menu, the previously used values (sets, reps etc) are displayed. This is very good and convenient. However if you want to change these values you need to tap the value once to select and clear it, and a second time to open the numeric keyboard to type a new value. Not a big issue but wou

[2019-08-03 08:09] roshavagarga opened #87 "Feature Request: Add wearable import support"
Basically, the ability to import data, which can now be exported from wearables such as the Mi Band. I would be open to supplying examples of said data (csv files) privately :)

[2019-08-03 13:12] brodeurlv commented on #86
Hi @WO15,
I have identified a fix for this. It will be in the next release.
Thanks

[2019-08-03 18:11] #86 closed

[2019-08-03 18:12] #83 closed

[2019-08-06 09:07] vanous commented on #87
I would suggest to look at Gadgetbridge, it has periodic export function in sqlite3. https://github.com/Freeyourgadget/Gadgetbridge

[2019-08-06 09:08] roshavagarga commented on #87
That's an export function. There is no guide or way to feasibly import data from a Mi Band 3 for instance :/

[2019-08-06 10:05] vanous commented on #87
Do you mean as in getting the steps from the band and into fastnfitness? Gadgetbridge itself pulls the data. Or you mean inserting fastnfitness data into Mifit app?

[2019-08-06 10:16] roshavagarga commented on #87
Gadgetbridge pulls the current data, but not the old data. Mi Fit allows you to export your previous data, or at least daily totals for everything. That data can't be imported into Gadgetbridge, hence it's practically lost, so once you install it, it's a clean slate sort of thing, hence why I asked about importing old data into FastNFitness - weight is probably the only one that's useful and can b

[2019-08-06 10:22] vanous commented on #87
The mifit export is a csv file, very simple to be imported into gadget bridge data, which can easily be used anytime in the future with not only daily totals but in full detail, including heart rate.

[2019-08-06 10:24] roshavagarga commented on #87
I've failed to actually find a guide or a proper explanation on how to do this, If you're aware of one, I'd be more than happy to make use of it. As far as I remember, GB uses some sort of an sql database and I'd have to somehow get that, then edit the old csv entries into it by hand and hope it doesn't get rejected.

[2019-08-06 10:32] vanous commented on #87
The current work flow (untested) would be: make an export of the current data into an sqlite3 file. Get mifit export and push csv data into this sqlite3. Import sqlite3 back into Gadgetbridge. Gb already features both the export and import of its internal data, so the only bit in between is thr csv import. I am planning to look at it in the near future.

[2019-08-06 10:35] roshavagarga commented on #87
If you can explain how one would go about doing so in a detailed way, I'd be very interested. My inability of switching to GB is one of the reasons I've been holding off on switching away from Mi Fit entirely :) Alternatively, if you're planning on working on a cleaner way of doing so via the app, I'd be interested in helping you test the function :)

[2019-08-07 21:32] vanous opened #91 "Add Weight Track data (fat/muscles/water) optionally as kg, not as %"
When adding measurement records, some scales provide absolute values (in kg) rather then percentage. It would be nice to enter these in kg and have the app to calculate the %.

Found in version: 0.18.5

Current behavior: measures entered as %

Expected behavior: optionally enter absolute weight

Thank you

[2019-08-07 23:45] sebadamus opened #92 "Adding new type of exercises brings keyboard to type text over the list of muscles checkboxes"
Found in version:0.18.5

Current behavior:
There appears the list of muscles checkboxes to select, you select one, then go back or hide Google keyboard and no muscle is selected instead an empty textbox where you can write anything

Expected behavior:
Each muscle with a checbox

Step to reproduce:
Used to work fine on android 7, now on 9 seems to have some problems, when you select the muscle chec

[2019-08-08 14:00] vanous commented on #87
Here is how to get an official access to the mifit data https://github.com/huamitech/rest-api/wiki

[2019-08-08 18:52] sebadamus commented on #92
Here more data... (will try to translate to english because my app appears in spanish)
1, left side menu, click on Excercises
2, add
3, type of excercise? (Three buttons, cardio,static,culturism) I select culturism.
4, no you see Excercise and History, down of it the imagen (this time empty because its new)
And down of it tree lines to complete Name, Description, Muscles.
5, I complete Name: Test

[2019-08-08 19:00] sebadamus opened #93 "Option to select language"
Would be good to let you select the language.  I have a spanish android so the app appears in spanish.  There are some wrong translations (seems to be in portuguese), I can understand it but would be good to just be able to select the main language from options.

(if you like help to translate to spanish latinoamericano, just tell me)

Thanks

[2019-08-08 20:17] vanous commented on #33
Hi all, is there any plan for progress on this one? I now add stuff like Pilates as cardio 1km 45minutes, but am not sure what will it do in the future. Thank you.

[2019-08-10 06:33] brodeurlv commented on #93
Hi @sebadamus ,

Thank for the feedback. It weird because there are both a spanish and a protuguese-brazilian translation. From which country are you from exactly ?

Here is the spanish translation file. https://github.com/brodeurlv/fastnfitness/blob/master/app/src/main/res/values-es/strings.xml

And here is the portuguese : https://github.com/brodeurlv/fastnfitness/blob/master/app/src/main/res/va

[2019-08-10 06:48] brodeurlv commented on #92
Hi @sebadamus,
I have committed a fix so that the Text cannot be edited manually.
Please reopen this issue if even it is not fixed in the 0.18.6.
Thanks

[2019-08-10 06:48] #92 closed

[2019-08-10 08:07] vanous commented on #81
@brodeurlv

Not sure if it should go all the way to individual muscle definition, i presume the OP request was maybe for that, for me, rather then adding Supraspinatus, Infraspinatus, Teres Minor, Subscapularis as part of the shoulder, simply adding shoulders would be nice to have.

Going back, if it goes down to individual muscles, then perhaps simple flat structure is not enough but parent/child

[2019-08-10 12:35] roshavagarga commented on #87
Wouldn't this be the same data I can get by exporting it from the Mi Fit app? (About section export request per GDPR)

[2019-08-10 13:59] vanous commented on #87
Probably yes. But the type export is rather clunky and takes a long time. I haven't tried the API access thought  as I am not sending any data to huami...

[2019-08-10 21:17] roshavagarga commented on #87
The GDPR export is actually fine for me. I can do it as many times as I want while I'm using Mi Fit, it takes a minute to make the file and downloads it immediately, since it's under 1MB. If somebody provides API example export files, I'd be up for comparing both :) But yeah, I'd like to move away from Mi Fit, hence I understand your lack of enthusiasm for sending more data to huami :+1:

[2019-08-12 04:31] vanous commented on #91
Hmm, please scratch that, i will blame this on my bad sight, rather then my dementia :). my scale provides %, as expected...

[2019-08-12 04:31] #91 closed

[2019-08-12 20:40] brodeurlv commented on #91
Ah ah! I love your comment! Thank you for the correction!

Le lun. 12 août 2019 à 06:31, vanous <notifications@github.com> a écrit :

[2019-08-12 20:41] brodeurlv commented on #81
Ok no problem. I'll add this in the next release.

Le sam. 10 août 2019 à 10:07, vanous <notifications@github.com> a écrit :

[2019-08-13 02:11] sebadamus opened #95 "Reopening #92 muscles lists selections"
Just test the modification you made to fix
#92 and works but partially, if you go directly to muscles lists selections, it works, but not if you first go to name or descriptions, kind of the keyboard keep stocked and muscles selection start to work strangely (give it a try...)

Thanks!

[2019-08-20 04:02] boykoatwork commented on #87
Maybe import from google fit will be also possible?

[2019-08-27 15:28] geniusupgrader commented on #85
I already opened issue #33 to address other types of exercises. Instead of adding additional exercise types in fastnfitness, it would be better to rewrite the app, so that you can define the type of recording in the exercise itself.

[2019-08-28 17:34] grravity opened #96 "[FR] Dark Theme"
Simple, would love to see a dark gray theme for the app!

[2019-09-06 21:02] nxxxse opened #97 "openScale for body weight/fat/muscle/water tracking"
In the FOSS Android world, I see [openScale](https://github.com/oliexdev/openScale) as the best option currently. Maybe it would make sense to integrate with that instead of developing the same once again?

Waistline is going into this direction for example: https://github.com/davidhealey/waistline/pull/119

Opinions?

[2019-09-09 13:09] JPH89 opened #98 "Feature request: Skinfolds section"
In my opinion, it would be really nice to have another section on the left menu about [Skinfolds](https://exrx.net/Testing/BodyCompSites).

It could be exactly as the *Body Track* section but with the 7 skinfold sites from the previous link.

Finally, it would be amazing if the app could directly apply the [Skinfold formula to obtain the body fat %](https://exrx.net/Calculators/BodyComp) and add i

[2019-09-14 11:59] ovz93br43v7 commented on #33
I also would like to see support for "free exercises" like reps rope climbing in x minutes.
And AMRAP work-outs (as many rounds as possible), which means combination of different exercises as fast as you can within a time cap.

[2019-09-14 12:14] geniusupgrader commented on #33
Maybe AMRAP workouts are a bit out of scope for now...

[2019-10-19 04:27] BeatLink opened #99 "Feature Request: Preloading Common Exercises"
It would be cool if the app could be preloaded with some common exercises as well as instructions on how to perform them or even gifs demonstrating them

[2019-12-26 21:03] brodeurlv opened #101 "it's hard to see the text when you first install the app and create a profile"
1) it's hard to see the text when you first install the app and create a profile. Really struggled to see white text on a light background

[2019-12-26 21:03] brodeurlv opened #102 "can there be an option to track weight in LB and Stone?"
2) can there be an option to track weight in LB and Stone?

[2019-12-27 00:38] BeatLink opened #103 "Feature Request: Group Workout by Session"
It would be nice to be able to group workouts by dates or even a session for same day workouts. It would make it easier to see which set of exercises was done in a particular session

[2020-01-14 21:59] brodeurlv commented on #95
Fixed in 0.18.7

[2020-01-14 21:59] #95 closed

[2020-01-14 22:01] brodeurlv commented on #93
Hi @sebadamus,
Any follow-up on this ?

[2020-01-14 22:03] brodeurlv commented on #72
HI @adewararilwan, I won't move forward with this feature. I'm closing this issue. If ever you want to develop it, please feel free. Thanks.

[2020-01-14 22:03] #72 closed

[2020-01-14 22:06] brodeurlv commented on #103
Hi @BeatLink, I don't understand your request. Can you provide more details or a user story ?
The records are already grouped by date.

[2020-01-14 22:09] brodeurlv commented on #98
Hi @JPH89,

I never heard about skinflods before. That's interresting but not something I'm planning to add to the app. That would require huge amount of work for few users. Hope you understand.

[2020-01-14 22:09] #98 closed

[2020-01-14 22:11] brodeurlv commented on #99
Hi @BeatLink, that's indeed something I would like to do in the app. This topic has already been raised in #79. I'm closing this issue to keep only one item per subject. Thanks anyway for the valuable suggestion.

[2020-01-14 22:11] #99 closed

[2020-01-14 22:14] brodeurlv opened #104 "Distance in Miles"
Distance is today in Km only.
The goal is to get the possibility to choose the unit between Km and Miles

[2020-01-16 17:15] BeatLink commented on #103
Ahh okay, I see what you mean. I guess what i was looking for was a similar way that open training handled the workouts. Basically you could group exercises into a specific workout session and then run the workout session. It would then go through each of the exercises of that session. Perhaps you could try out the app to see what i mean? Its opentraining on f-droid

[2020-01-20 21:55] brodeurlv opened #106 "Allow time editing"
Found in version: 0.18.6

Current behavior: time cannot be customized, it is always current time.

Expected behavior: being able to customize time or let it automatic. same for date

[2020-01-20 21:56] brodeurlv commented on #93
No feedback. Closing issue.

[2020-01-20 21:56] #93 closed

[2020-01-20 22:18] #101 closed

[2020-01-21 22:28] brodeurlv commented on #103
Ok thanks for clarifying. So this is a duplicate of #82.
I'll track everything in #82 thread so.
Thanks

[2020-01-21 22:28] #103 closed

[2020-01-21 22:29] #106 closed

[2020-01-21 22:29] #104 closed

[2020-02-01 18:10] vitogarciasg opened #108 "Can there be a strength based workout plan be added in?"
Like a workout based on the percentages of your 1 rep max? And maybe also have some workouts saved in the app to suggest to the users if they don't know what to do.

[2020-02-16 21:46] htremura commented on #108
Yes, I feel like some suggested workouts would be an excellent addition. Getting into staying fit, having a pre-built workout would be excellent. A fantastic future feature could be to automatically customize it based on BMI.

[2020-02-18 15:53] brodeurlv commented on #108
Thank you guys for your proposal. I've started to work on this items.
@vitogarciasg proposal is similar to Guided sessions #30
@htremura proposal is similar to Suggestion: Include library of exercises #79

Don't hesitate to add comments in those issues.  Thank you for taking the time.
I'm closing this thread as a duplicate.

[2020-02-18 15:53] #108 closed

[2020-02-25 08:59] brodeurlv opened #110 "Dutch translation"
Merge translation provided by Rishabh.

[2020-02-25 09:01] brodeurlv commented on #110
Done

[2020-02-25 09:01] #110 closed

[2020-02-27 21:29] brodeurlv commented on #96
Will be in 0.18.9 version.
Enjoy

[2020-02-27 21:29] #96 closed

[2020-02-29 16:24] BeatLink opened #112 "Feature Request: Adding support for music on external storage / SD card"
Recent android versions require an external storage API to access files on external storage or SD card. Would it be possible to implement this API for the music player file browser so that music files on the SD card can be played?

[2020-03-01 13:29] brodeurlv commented on #112
Hi Beatlink, I didn't know about that.
I'll see what are the consequences of this new api. I hope it's not too
heavy to implement!

Le sam. 29 févr. 2020 à 17:24, BeatLink <notifications@github.com> a écrit :

[2020-03-17 12:14] cdanne opened #113 "Feature-Request: Scheduled exports for backup purpose"
In case the phone breaks or is lost, I want to have a backup of my training log.
The "Export" feature is good enough to backup all data. After exporting the CSV files to the local storage, a file sync tool kicks in to save these files to a cloud storage or NAS.

However, I currently have to remember to take backups regularly and trigger the export manually.

It would be more convenient if:

- expo

[2020-03-17 12:21] cdanne opened #114 "Feature Request: rep scheme for ladder training (rounds up to specific rung)"
Reps can currently be tracked in sets and reps (per set).
I often use "ladders" with increasing numbers of reps per set.
E.g. a single "round" of a ladder up to "rung" 5 looks like 1, 2, 3, 4, 5 reps (15 total reps).

To make tracking such a rep scheme easier, an option to switch from "x sets with y reps each" to "x rounds up to rung y each" for bodybuilding exercises would be great.

[2020-03-18 23:45] BeatLink opened #115 "Feature Request: Save All data to home folder"
Rather than have a database stored in the app specific areas of the device, would it be possible to store the app data in the user's home folder? That way the export and import system would no longer be needed and various syncing tools like dropbox, google drive and nextcloud could be used to sync the data. There is already a folder in the users home for fastnfitness for exports, logs and exercise

[2020-03-19 14:35] brodeurlv commented on #115
Hi Beatlink,
I agree with you. I was thinking about this a while ago but this is kind of
a big migration as I am using sorting and filtering features from sqlite.
If you know by any chance a good textfile-based database I would be
interested.
Thanks.

Le jeu. 19 mars 2020 à 00:45, BeatLink <notifications@github.com> a écrit :

[2020-03-20 04:28] BeatLink commented on #115
Well a good starting point would be to keep the database as is (i presume SQLite?) and simply change the location to the FastNFitness folder in the user's home folder. That would right away give you syncing and backup options through other apps and it should be easy to implement as a good starting point

[2020-03-24 11:52] senpl commented on #82
Any progress on that. I would like that feature. Maybe even could build some scratch version of it.

[2020-03-25 09:41] senpl opened #117 "Feature Request: Rename category "Bodybuilding" to "Strength""
Found in version: 0.18.10

Current behavior: Current Category name "Bodybuilding" is to narrow. Rename to strength would allow to include all kind of weight and strength exercises. Current name suggest only bodybuilding exercises.

Expected behavior: Rename category "Bodybuilding" to "Strength" or "Weight"(less prefered coz Strength seem to more broad).

Step to reproduce:
Edit exercises

[2020-03-25 10:29] cdanne commented on #115
+1 for this one. And I agree this would be a better solution for the requirement to keep a backup. So this would indeed replace #113.

[2020-03-26 21:35] brodeurlv commented on #117
Thanks for the feedback. That make sense. I'll include that in next release.

[2020-03-26 21:38] brodeurlv commented on #97
Thank you for the feedback. To be honest, I don't really like the complexity of openScale and I don't plan to add this in the app. Thank you anyway for taking the time to open this issue.

[2020-03-26 21:38] #97 closed

[2020-04-04 08:43] nxxxse commented on #97
You are welcome. From a user perspective, I don’t think openScale is so complex. I think that tracking for example body measurements with a tape measure provides useful insights. On the other hand, I don’t care about all this smart device integration like Bluetooth scales if that is what you mean I am on the same page as you. But I don’t mind having this feature as long as I don‘t have to use it.

[2020-04-06 23:35] rendeko opened #118 "No measurement on profile "Size""
Found in version: 0.18.10

Current behavior: Go to profile. Size is purely a numerical input. User is unsure of what to input.

Expected behavior: Size should be lead by (cm), (m), or some sort of measurement for ease of use.

Step to reproduce: Using 0.18.10

[2020-04-07 19:02] brodeurlv commented on #118
Thanks for the remark. I'll add the unit in next release. It is supposed to
be in meter as it is used in the BMI index.

On Tue, Apr 7, 2020, 1:35 AM rendeko <notifications@github.com> wrote:

[2020-04-08 08:49] brodeurlv commented on #118
erratum, it is in cm.

[2020-04-08 14:57] senpl opened #119 "Feature request: Move code to Kotlin with Cleanup"
Found in version: 0.17.3

Current behavior:
Current official android language is Kotlin. Change to Kotlin should not be problematic and the sooner the better. Of course code in java will work so no change in old files is needed. Only project gradle files. Still some code cleanup could be nice.
Expected behavior:
Make project kotlin project. So new language features/libraries could be used.

P.S.
I

[2020-04-10 14:14] llikz opened #121 "goodnews on facebook"
**[lick to visit](https://www.facebook.com)**

[2020-04-10 18:31] #121 closed

[2020-04-11 17:27] #117 closed

[2020-04-11 17:28] brodeurlv commented on #118
Partially fixed in 0.18.11.

[2020-04-11 17:42] #118 closed

[2020-04-11 17:43] brodeurlv commented on #118
Now it is completely fixed. :)

[2020-04-12 09:09] brodeurlv commented on #119
Hi @senpl

Could you please be more specific about the cleanup?
You are referring to the 0.17.3 while the current version is 0.18.11 so is the cleanup you are referring to on the 0.17.3 or the 0.18.11?

Also, can you please tell me what you mean by start to "build in Gradle from start". It seems to me that the project is already built with Gradle so maybe I'm misunderstanding what you mean.
Thanks

[2020-04-12 09:21] brodeurlv commented on #115
Hi all, thinking about this, depending on how it is done, I think this could be an issue in case of an uninstall (as the database will remain) and on a reinstall (as the old DB will still be used).
I understand the need but I don't think this is a good practice to have a fixed home location by default.
A better design would be to give the choice to the user to select where he wants his DB to be st

[2020-04-14 06:29] senpl commented on #119
Ok. I mean latest version. I just not checked in right place. Code clean up that could go with Kotlin : replace null checks with !! operator. Remove unussed methods from code(Android marks that methods, so if their not used their should be removed). Removed unussed view assings(this is also marked in Android Studio). I would like that new code version would be done in files converted to Kotlin coz

[2020-04-15 04:40] senpl opened #123 "Feature request: selectable repetitions"
Found in version: 0.18.11

Current behavior: user has to enter repetitions.

Expected behavior: when done right user should swipe to select no. Of repetition without need to open keyboard.

Step to reproduce:
Go to fonte page

[2020-04-26 07:37] senpl opened #124 "Create backlog so important things to do could be prioritize"
Project lack some sort of backlog. Currently only some TODO in code might indicate what was to be done. It would be practical to create some file with things that could/should be done in project.
I prefer it in english.

[2020-05-08 14:31] BeatLink opened #125 "Feature Request: Limit exercises to specific profile"
Since the quarantine lockdown, I've had to start doing bodyweight exercises since i can no longer go to the gym. It would be really cool if FastNFitness could keep exercises separate to the profile that created it, that way, bodyweight exercises and such could be on one profile, while gym exercises are in another.

[2020-05-09 22:16] technicalguy opened #126 "Feature request: Plain text comment entries in records/history"
Found in version: 0.18.11

Current behavior:
On the Exercises page it is only possible to add specific exercise entries (i.e. "Strength", "Cardio", or "Isometric").

Expected behavior:
There should also be an option to add a plain text note (e.g. I could add a note saying "next time, rather than increasing weight, work on squatting deeper").

Step to reproduce:
Open the app and add some exercises.

[2020-05-09 22:17] technicalguy commented on #126
I would be happy to try and implement this if someone can mentor me through it. (I've used Java a while ago, but not developed for android before.)

[2020-05-10 14:58] brodeurlv commented on #126
Hi Shaun, I'd happy to help. And on fact that will be pretty simple as this
is already an existing feature that is just not activated.
I felt it not very useful and was degrading the ui to my opinion. But you
can try to reactivate it first and then if you can come up with something
discrete in the ui I'd be happy to put it back.
Look for the keyword 'note' in the FontesFragment.java and let me kno

[2020-05-11 20:14] technicalguy commented on #126
Okay, I guess I first need to set up an Android VM on my phone and figure out how to build everything!

[2020-05-25 07:45] brodeurlv commented on #125
Thanks @BeatLink for your feedback.

For what I understand, I think that the best approach to solve your issue would be to add some filters to the exercise list. In the filter,  you could have options to:

- Show only a certain type of exercise (Strength, Cardio, Isometric)
- Show only exercise already used by a profile

That way you would have a reduced list of exercises.

To give more details, "

[2020-05-25 07:52] brodeurlv commented on #124
Hi @senpl, the backlog is this GitHub. Each issue is either a bug or an enhancement. It can be enhanced with labels to show priority for example.
TODO in the code are usually very small optional things that do not require prioritization.
Or I could create something like an Asana account to have something separated from this.

[2020-05-25 07:53] brodeurlv commented on #124
And in fact, I realize that there is a "Projects" tab in github that could do the job as well.

[2020-05-25 08:06] brodeurlv commented on #119
Hi @senpl,
I'm closing the issue. Kotlin is great but for now the code is in Java. The code will maybe move to Kotlin in the future, but there no point to keep this issue open.
The clean-up thing should be addressed in an independent pull-request.
Thanks.

[2020-05-25 08:06] #119 closed

[2020-05-25 08:10] brodeurlv commented on #85
@geniusupgrader, Rewriting the app for this feature is to me a bit too much. :).
Anyway, I believe that a small checkbox in the weight box or a new type of exercise should do the job.
I will assign this issue to me as my next commit will add some architectural change that should ease the implementation of this topics.
Thanks.

[2020-05-25 08:15] brodeurlv commented on #70
Hi @nutpantz ,

"Resistance level" is something that would make sense and that is on almost all cardio machines. The other item you are listing would be more on a free note part I guess.

PS: Please start your messages with "Hello" or "Hi" to increase your chance to have a feedback. Thanks.

[2020-05-25 10:44] geniusupgrader commented on #85
I glanced over the code two or three times and I know it is a big rewrite. But one must not do it in one try:
- first implement option for type in exercise
- then change database controller
- then do the connection in training tab
- then possible do a change of database controller again
- then do the visualisation...
But a checkbox would do it for now. So thanks again

[2020-05-25 19:00] BeatLink commented on #125
ohh okay! Yeah an exercise filter would be better!

[2020-06-06 15:20] ddceca opened #129 "Suggestion: larger fonts in weight graph"
In the weight vs date graph the text is too small. The dates (in the x-axis) and weights (in the y-axis) are quite small, but I can manage to read them (barely). However, the data point labels are almost indistinguishable to me. My phone screen is quite large, that's not the issue.

Perhaps this also applies to the other types of charts, but I've only used the weight monitor so far.

Would it be e

[2020-06-07 10:04] brodeurlv commented on #129
Hi,
Maybe there is a dependancy with the density of the screen. What is your
phone? Would you mind attaching a screenshot so that I can better
understand how small it is?
Thanks.

Le sam. 6 juin 2020 à 17:20, ddceca <notifications@github.com> a écrit :

[2020-06-07 10:43] ddceca commented on #129
Thanks for the quick reply!
My phone's a Xiaomi Mi 9 Lite. It's got a 6.39” screen with a resolution of 1080 x 2340 pixels (403 PPI).
I'm attaching a screen capture and a crappy picture taken with my laptop's webcam.
By the way, it's a chart depicting some body part's measures, so I confirm that the small fonts are present not only in the weight monitor.
![chart screen capture](https://user-images

[2020-06-08 07:24] brodeurlv commented on #66
Development ongoing. Will come with Program feature.

[2020-06-08 09:31] har0ke opened #130 "Feature request: Automatic save or discard confirmation when editing exercises"
After editing exercises and pressing the back button all changes get discarded without warning. It would be nice to either automatically save all edits or make the user confirm that changes would be discarded.

Also I would prefer the editor to close, and the keyboard to disappear after pressing the save button.

[2020-06-08 09:36] har0ke opened #131 "Feature request: Sort muscles alphabetically"
It would be nice to sort the "Select Muscles" pop-up while editing exercises.

Is there a reason that glutes are not included in that list?

[2020-06-08 09:39] har0ke opened #132 "The "Select Muscles" Pop-up won't reopen"
When closing the "Select Muscles" pop-up it won't open a second time. You'd have to re-enter the editing view.

[2020-06-14 21:02] brodeurlv commented on #132
Hi har0ke, please follow the template when entering an issue.
I succeed to reproduce the issue as you forgot to mention that you have to save before :

Step to reproduce :
1. In the Exercise view, click on Muscles

1. Select some muscles

1. Click on the Save button

1. click on Muscles => the dialog doesn't open.

[2020-06-14 21:06] brodeurlv commented on #131
Hi @har0ke,

Please follow the template and please use words as "Hello" or "Hi" and "Thank you". I'm not a machine.

Thanks for the feedback anyway. I'll take that into account in the 0.19.1 version.

[2020-06-15 06:23] har0ke commented on #131
Hi @brodeurlv, I usually like my issues short and formal, so no offense intended. Sorry for the inconvenience; as of now, I will gladly use your template. Thanks anyway for considering my feature requests.

[2020-06-16 06:51] brodeurlv commented on #66
Published

[2020-06-16 06:51] #66 closed

[2020-06-16 06:51] #82 closed

[2020-06-16 14:38] rffontenelle opened #135 "A few strings not available for translation in version 0.18.11"
**Describe your issue**
Hello,
I found some strings in the UI that are not available for translation, therefore they are displayed always in English. I found them in Fast N Fitness version 0.18.11 app and in this repository's master branch. Could you please check whether they can be made available for translation?

The strings are:
- "DETAILS" in _Weight monitor_ screen (hardcoded 4 times in [tab_

[2020-06-19 06:57] brodeurlv commented on #135
Hi Rafael, I have addressed your comments and added also other missing translations.
Please let me know if that's ok and I will publish this version.
Thanks

[2020-06-19 14:17] rffontenelle commented on #135
Besides #137, LGTM!

[2020-06-19 14:17] rffontenelle commented on #135
I mean, this issue is solved, so closing.

[2020-06-19 14:17] #135 closed

[2020-06-25 20:39] #130 closed

[2020-06-25 20:39] #131 closed

[2020-06-25 20:41] brodeurlv commented on #132
Fixed with #130

[2020-06-25 20:41] #132 closed

[2020-06-25 21:11] sdriv3r opened #138 "The weight unit in the program editor does not default to the preferred unit in settings"
**Describe your issue**
When editing/adding exercises to my program, the weight always defaults to kg but I have it changed in my settings to use Lbs as my preferred unit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings and change preffered unit to lbs
2. Go to Program List and select a program (or create a new one)
3. Go to "Editor"
4. Note that the weight still have kg selec

[2020-06-29 23:54] sdriv3r opened #141 "Feature Request: Auto-Update Program based on exercises completed"
I am using the app for my strength workouts, but I can see this applying for people who track their cardio and want to constantly improve themselves.

The way I work out and my current problem: I start my programs out with lighter weights, then as I work out and push myself in the gym, I constantly try to increase. If I lift more weights one week, I would like that next time I do a specific progra

[2020-06-30 00:31] sdriv3r opened #142 "Crash after deleting a program that is in progress"
If you start a program, then go to delete it without first stopping it, then the next time you go back into "Workout" the application will crash. It will be stuck in a crash loop.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test program with any exercise.
2. Go to Workout -> Program, select your new program and click "Start Program".
3. Go to Program list, select your test progr

[2020-07-01 06:10] #138 closed

[2020-07-01 09:08] brodeurlv commented on #142
Hi @sdriv3r,
Thank you for raising this issue and for proposing to fix it. That ok for me. I have a new version 0.19.1 ongoing, I'm planning to release before the end of next week. Do you think you can address this bug before that?

Concerning the bug, I haven't looked at it but I think the approach should be, more than just avoiding the crash, to consider the Deleted program as closed and to upda

[2020-07-02 01:50] sdriv3r commented on #142
Hi @brodeurlv ,

Thats the approach I was looking at taking, having the ProgramHistoryDB updated when the program is deleted. I can have this done by the end of this weekend, probably sooner. I'm mostly messing around, familiarizing myself with the code as well as android studio.

I will let you know if I have any questions.

Thanks!

[2020-07-02 04:50] sdriv3r commented on #142
Hi @brodeurlv ,
So I looked into it and got the hang of it. One question I had: should we update the ProgramHistory and set the status to closed so that this way there is still a trace of it, or should we simply delete all history related to that program, whether open or close?

I think I would go with the deleting all history. My reasoning is that the ProgramHistory really just tracks the start a

[2020-07-02 19:07] brodeurlv commented on #142
Hi @sdriv3r,

I agree with your analysis. I don't see a reason to keep the ProgramHistory if the program is deleted.
I was thinking maybe for future statistics but even there, this would not be really useful.
So go for deleting all history related to that program.
Thanks.

[2020-07-02 20:29] brodeurlv commented on #141
Hi @sdriv3r,

That is an interesting idea. However, I'm not sure a lot of user will use it as it is pretty advanced. So the impact on the usability should be as minimal as possible. I think your option 2 is a good approach, however just to make sure we have the same idea in mind,
Here is how I see the workflow:
- User completes an exercise and click on the Check button (the green one)
- User edit

[2020-07-04 07:47] #142 closed

[2020-07-04 10:54] BeatLink opened #144 "Research features from OpenTraining to integrate"
Open training seems like another useful workout app. Maybe you could check it out for any features to integrate into fastnfitness https://github.com/EvgenyBatov/opentraining

[2020-07-04 13:36] brodeurlv commented on #144
Hi @BeatLink ,

I know this app already. Do you have any more precise information about which features to integrate into fastnfitness ?
As is, this request is neither an issue nor an enhancement request.
Thanks.

[2020-07-04 13:38] sdriv3r commented on #141
Hi @brodeurlv ,

I agree about this being more of an advanced feature, thats why I though of adding it behind a setting you would need to enable in the Settings, so that the behavior does not change until you turn it on.

As for workflow, that is pretty much how I saw it. The only clarification I can add is that I though that having the "proposal" to change your program only happen at the end, rig

[2020-07-04 13:51] sdriv3r opened #145 "Rest Timer does not vibrate when complete"
**Describe your issue**
I have the rest timer turned on for my programs. One thing I have noticed on my phone is that when the countdown reaches 0, it does not vibrate my phone. This only happens when my screen is off. If I leave my screen on, the vibration does work.

I am only reproducing this on my phone (Samsung Galaxy S9+, latest updates). I tried on my tablet (Samsung Tab A 8) and it works f

[2020-07-04 16:17] sdriv3r opened #146 "Rest Time Resets to 60s when editing a program"
**Describe your issue**
When you edit an existing exercise/record in a program, all your current values get copied over to the "Record Editor" except the rest time. That field goes to the default 60s.

When you are editing your program and you have a different rest time ( I use 120s for example), it is easy to open the exercise, change the values you want to increase/decrease (for example, the wei

[2020-07-04 20:46] BeatLink commented on #144
I'd have to look into it to say XD. My bad! Ill check it out later today

[2020-07-04 21:06] BeatLink commented on #144
Just checked out the latest build of FNF and it already seems like it has everything! Ill go ahead and close this :D

[2020-07-04 21:06] #144 closed

[2020-07-05 08:22] ironjan opened #147 "Missing auto-complete in exercise name"
**Describe the feature you'd like**
Hello,
when using the app for the first time, I noticed some peculiarities in the exercise editor. This is applicable to both "free workout" and the program exercise editor.

- 1. **Exercise name should not auto-clear when getting focus** (Moved to  #154)
- 2. **Missing auto-complete**
   * Enter an exercise name. There are no text suggestions - I expected them

[2020-07-05 12:52] brodeurlv commented on #144
Ah ah ! Thank you @BeatLink. :)

Le sam. 4 juil. 2020 à 23:06, BeatLink <notifications@github.com> a écrit :

[2020-07-05 13:00] brodeurlv commented on #147
Hi @ironjan, thank you for taking the time to open this issue. Usually, 3 issues should be opened for the simple reason that they might not be address at the same time. However looking at your issues, I believe everything can be addressed at once.
At least 2 and 3 seems straight forward.
For 1, the best approach would be to have a clearable EditView with a cross at the end of the view to clear if

[2020-07-05 13:04] brodeurlv commented on #146
Hi @sdriv3r ,
That's a bug ! :)
As you proposed, I will assign this to you. Thanks.
Let me know when you can work on this. 0.19.1 is planned for the end of the week so if this is ready, I'll include this issue into it.
Thanks.

[2020-07-05 13:07] brodeurlv commented on #145
Yes, there is a weird behavior with the vibration and I realized that this is not always reproductible. On my phone, sometimes is works, sometimes it doesn't. I haven't investigated that much anyway but if you find something, let me know.
Thanks.

[2020-07-05 20:47] ironjan commented on #147
Most likely next weekend or the one after that.

I changed the issue to a task list to track the different parts. 2 & 3 will be straight-forward as you mentioned; 1 will be slightly more effort but should be similarly simple. Most likely each of the changes will be less or equal to 15 lines of code.

[2020-07-06 00:11] sdriv3r commented on #146
Hi @brodeurlv ,

Give me 2 days. Should have this one done pretty quickly.

Thanks,

[2020-07-06 03:25] sdriv3r commented on #114
Hi @cdanne ,
Would this be something similar to Drop Sets? A drop set is when you start heavier, do a couple of reps, then pick up a lighter weight, do a couple more, then maybe drop the weight again, do more, etc. You would only rest at the end, then pick right back up with the heavier weight after your rest period and repeat. https://en.wikipedia.org/wiki/Drop_set

If thats the case then it woul

[2020-07-06 17:20] #146 closed

[2020-07-06 23:02] sdriv3r commented on #145
Hey @brodeurlv,

I looked into this quickly but I'm having issues debugging on my phone (I have the playstore version installed on there and I don't feel like wiping my data to use from AndroidStudio) but I did find something that might be the reason that it works only sometimes. In CountdownDialogbox.java, in the registerAlarm method line 78, we use "set" for the alarmManager. Per android docs:
"

[2020-07-08 06:40] cdanne commented on #114
Good question. I think from a "user perspective" the two are different things. For the "ladder" case it is the number of reps that changes (increases), for drop sets it is the weight that changes (decreases). But I can imagine that the implementation concept could be one comprehensive extension that allows both number of reps and weight to change.

A simpler solution would be to leave the data str

[2020-07-08 07:36] #129 closed

[2020-07-08 15:12] brodeurlv commented on #145
Hi @sdriv3r , I gave it a try but I'm not sure it is changing anything.
One of the test I do is that I launch a countdown, then I turn off my screen and I wait, and nothing happens. It is supposed to Wakeup as I use ELAPSED_REALTIME_WAKEUP, but it doesn't work. I wonder if it is not due to the fact that it is launched from a dialog.
It will need deeper investigation.

[2020-07-11 07:10] brodeurlv commented on #141
Hi @sdriv3r ,

I think that if it ask for the update at the end of the program, it needs to be very simple, eg "Do you want to update your program with the values you made on this program ? Yes / No". However, you might have some exercise you want to update and some maybe not. So you will have basically to show the editor of program which to me is something the user can do on his own. So the added

[2020-07-14 19:51] ironjan opened #154 "Exercise name should not auto-clear when getting focus"
**Describe the feature you'd like**
Hello,
when using the app for the first time, I noticed some peculiarities in the exercise editor. This is applicable to both "free workout" and the program exercise editor.

- **Clearing exercise name on focus**
   1. Enter an exercise name
   2. Move to another field
   3. Tap exercise name again (e.g. you noticed a typo)
   4. The input field. The name gets c

[2020-07-14 19:52] ironjan opened #155 "Exercise Editor: "Enter" should move to next EditText"
**Describe the feature you'd like**
Hello,
when using the app for the first time, I noticed some peculiarities in the exercise editor. This is applicable to both "free workout" and the program exercise editor.

- **Using the Enter-Button skips fields and does not submit**
   1. Go to free work out.
   2. Enter an exercise name. Press enter. Focus is on "Sets".
   3. Enter a number. Press enter.

[2020-07-14 20:25] ironjan commented on #147
@brodeurlv as you might guess from the recent edits and new issues, some parts are more complicated as initially guessed and have been split out. 2/3 are submitted as PRs, #154 is still on my TODO list.

[2020-07-14 21:08] #147 closed

[2020-07-14 21:08] #155 closed

[2020-07-14 21:15] #124 closed

[2020-07-14 21:27] brodeurlv opened #158 "Update the zoom feature for graph"
- [x] Create an independent View
- [ ] Save zoom preference
- [x] Update UI

[2020-07-14 21:31] brodeurlv commented on #112
Hi @BeatLink , this might be fixed in the 0.19.1 but not sure this is what you were referring to. Can you let me know?
Thanks.

[2020-07-15 03:30] BeatLink commented on #112
It works great! Thanks!

[2020-07-15 03:30] #112 closed

[2020-07-15 04:35] sdriv3r commented on #141
Hi @brodeurlv ,

I though about this and i think you are right. Having it ask for confirmation every single time will be anoying, and having it ask at the end of each program will make a lot of popups.

Here is what I'm thinking this time:

When a program is finished, and If the user records same reps but more weight in an exercise, show a popup suggesting to automatically update program with high

[2020-07-15 05:02] sdriv3r opened #159 "Audible beeps at the end of rest timer"
**Describe the feature you'd like**
When the rest timer expires, have 3 audible beeps (at the same time as the vibrations).

I think having the beeps would be more noticeable than the vibrations. Some people dont keep their phone on them and might have it down on the floor, but audible beeps could be heard as long as volume is up or when wearing headphones.

**Describe alternatives you've consider

[2020-07-15 07:31] brodeurlv commented on #159
Hi @sdriv3r ,

Yes, this would be a good feature. And to answer your last comment, it has to be an option that you can turn on and off because people uses this app in fitness parks and they might not want everyone to hear the 3 bips everytime they do an exercise. :-) And they can't just lower the sound has they might be listening to music too.
Do you want to take care of this development?

[2020-07-15 07:34] brodeurlv opened #160 "Body measure is in kg/lbs/st while it should be in cm/in"
**Describe your issue**
Hello,
Body measures unit are displayed in KG when there is no record already done.
No workaround identified.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Body tracking"
2. Click on a Body with no records
3. Click on +
4. Spinner shows "kg" while it should show "cm"

**Expected behavior**
Show the correct unit.

[2020-07-15 17:34] brodeurlv commented on #160
Fixed

[2020-07-15 17:34] #160 closed

[2020-07-15 17:36] brodeurlv commented on #158
- [ ] Save zoom preference => To be done later

[2020-07-15 17:36] #158 closed

[2020-07-16 07:34] brodeurlv commented on #141
Hi @sdriv3r ,
This workflow might be too limited. If the user wants to update some exercises but not other, it won't be possible. So this all-or-nothing approach might create more frustration to the user than benefit.
Maybe we can let this item aside for some time and let it mature with more user experience on the "program" usage. Is that ok for you?
Cheers,
Charles

[2020-07-16 07:37] brodeurlv commented on #145
Hi @sdriv3r ,

FYI, with the recent commit from @ironjan , you can have a debug and a release app on the same device. So you should be able to debug this issue more easily on your device.
Cheers

[2020-07-16 07:38] brodeurlv commented on #102
Done

[2020-07-16 07:38] #102 closed

[2020-07-16 22:26] sdriv3r commented on #159
Hi @brodeurlv ,

Got it. You can assign it to me. Will put more efforts into the vibration bug and i can tackle this one at the same time.
Thanks,

[2020-07-18 20:59] kapcom01 opened #162 "Renaming excersises does not rename their history but deleting excersises deletes their history."
Hello,

The **rename** and **delete** actions of an excersise do not apply consistently on history.

Thank you.
Manolis Kapernaros

**To Reproduce**
Steps to reproduce the behavior:

To rename:
1. Excersises
2. example excersise1
3. touch on Name
4. rename
5. touch Ok

To delete:
1. Excersises
2. example excersise1
3. touch on the trash bin

**Expected behavior**
I noticed that the name did not ch

[2020-07-19 05:13] sdriv3r commented on #145
Hi @brodeurlv ,
Problem is when the vibrate gets called in the AlarmReceiver class. I added a "AudioAttribute" to the vibrate and I am able to get it vibrating every time. Both "USAGE_ALARM" and "USAGE_NOTIFICATION" seem to do the job. Reading the doc i'm not sure which one is more appropriate...
https://developer.android.com/reference/android/media/AudioAttributes#USAGE_ALARM

I kind of feel like

[2020-07-25 21:20] #145 closed

[2020-07-25 21:58] #162 closed

[2020-07-27 11:29] ironjan commented on #141
Hi,

in my humble opinion, this is not an advanced workflow. When a user finishes a program exercise using the "X"-Button instead of the checkmark, a dialog pops up. This dialog explicitely states to "update" some which I assumed would be the exercise, not a historic record of the exercise's execution -- it's not unusual to adapt weights and reps to your current progress. I actually wanted to repo

[2020-07-27 16:43] sdriv3r commented on #18
Hi @brodeurlv,

Can you assign this one to me?

My idea: If you tap anywhere that is not on the dialog itself, the dialog will be hidden. The chrono button on the top left will be of different color (blue to match UI) and will have minutes shown and updated.

I also want to do the same thing for the rest timer dialog. If the rest timer is active and minimized, the same icon will be blue but will i

[2020-07-27 19:52] sdriv3r commented on #85
Hi @brodeurlv ,

Instead of a checkbox, I'm proposing a dropdown called "Exercise type" and filled with the following:

- Barbell
- Dumbell
- Machine
- Bodyweight

With this new field, the "total weight" for both an exercise as well as the session could be modified to reflect the exercise type:

- Barbell: Would just use the value as-is.
- Dumbell: Would double the value.
- Machine: Would be the v

[2020-07-28 13:56] brodeurlv commented on #18
Hi @sdriv3r ,

Thank you for your proposal.

I agree with this approach. That is exactly what I had in mind.

For the program tab, I was rather thinking of the rest cardview to update directly maybe like a progress bar.
For the free session tab, I'm rather thinking of something inside or near the "Add" button.

So with that, it avoids having the same button doing different things depending on the

[2020-08-03 14:58] #154 closed

[2020-08-05 07:49] brodeurlv opened #168 "Failed program exrcise are saved with wrong date and time"

[2020-08-05 07:49] #168 closed

[2020-08-12 13:58] TMiguelT opened #169 "Convert free workout to program"
**Describe the feature you'd like**
* As a user, I tried out the app the first time using the "Free Workout" tab, but now that I like the app, I'd like to copy that into a re-usable program
* I envisage this would work as a new button on the Free Workout page called "Import" that would then copy exactly what you have done on one day, into a program

[2020-08-13 22:21] ironjan opened #170 "Wrong date in history"
**Describe your issue**
Hello,

the current local date and time is 2020-08-14 00:08 . When entering an exercise, it is added for 2020-08-*13* 00:08.

Thank you.
Your name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a 'Program' and start it around midnight.
2. Finish some exercises
3. Finish the program
4. Go to history

**Expected behavior**
Date and time of the exercise in history

[2020-08-13 22:27] ironjan opened #171 "Incomplete program name in history"
**Describe your issue**
Hello,
in some cases, the program name is incomplete when viewing the history.
Thank you.
Jan

**To Reproduce**
Steps to reproduce the behavior:
1. Produce some history for a program called "Standard". The more,the better.
2. Go to history
3. Some entries show the program name as "Stand" or even "S"

**Expected behavior**
All program names should be completely written out.

[2020-08-13 22:27] ironjan opened #172 "Incomplete History"
**Describe your issue**
Hello,

when I wanted to double-check my training today to update the program, the history was missing ~90% of today's training.

Thank you.
Jan

**To Reproduce**
1. Start a program, in my case "Standard"
2. Finish exercise `A` with a checkmark
3. Finish exercise `B` with the `X`, e.g. because you did more reps or weights
4. Finish exercise `C` with a checkmark
5. Finish th

[2020-08-15 00:25] ExpandingDev commented on #172
It looks like the maintainer fixed this in the latest round of bug fixes, does this persist on the latest version? 0.19.3.1?

https://github.com/brodeurlv/fastnfitness/issues/168

[2020-08-15 07:41] brodeurlv commented on #172
Hi guys,
Yes, I guess I fixed it already in the 0.19.3.1.
Can you please check if you still have the issue?
Thanks.

[2020-08-15 07:46] brodeurlv commented on #171
Hi @ironjan, what is the size of your screen?
Do you have a snapshot so that I can see precisely the issue? Thanks.

[2020-08-15 07:56] brodeurlv commented on #170
Hi @ironjan,
it doesn't seems to be related to #168. #168 was only impacting the failed exercises.
Date management in really a pain! 😱
Do you have the same behavior on all the exercises around this time? Or just some type? Or just the failed?
Thanks.

[2020-08-15 11:06] ironjan commented on #171
![Screenshot_20200814-002417](https://user-images.githubusercontent.com/1698836/90311087-eb0ce280-def7-11ea-97bc-8aca467260d7.jpg)

5.6", 2.220 x 1.080 px

[2020-08-15 11:09] ironjan commented on #172
I just checked with 0.19.3.1 and the issue is fixed. However, I had to install by "self-compilation" as 0.19.3.1 is not visible via F-Droid yet.

[2020-08-15 11:09] #172 closed

[2020-08-15 12:36] brodeurlv commented on #171
Thanks. So this seems to be very random. I'll try to see what could create
this.

Le sam. 15 août 2020 à 13:06, Jan Lippert <notifications@github.com> a
écrit :

[2020-08-20 20:10] brodeurlv opened #173 "Program history view"
**Describe the feature you'd like**
Hello,
Build an history view for programs in each program and in a more global view.

**Additional context**
It could show a graphic view on one week in the  program list view with for each days in green the number of success and in red the number of failed.

Thank you.

[2020-08-20 22:14] ChrisJAllan opened #174 "BMI wrong when weight is not in kg"
**Describe your issue**
Hello,
When the weight is set in lb or st the BMI calculated is wrong.
Thank you.
Chris

**To Reproduce**
Steps to reproduce the behavior:
1. Set size in profile.
2. Set weight in "Weight Track" in either lb or st.
3. See error

**Expected behavior**
Weight value should be converted to kg before BMI calculation.

**Smartphone:**
 - Android 8.1
 - App 0.19.3.1

**Additional

[2020-08-21 06:06] brodeurlv commented on #174
Thanks for the feedback. That should be an easy fix. I will take care of this. In previous versions, the weight was only available in kg so that's probably why.

[2020-08-27 09:40] ironjan commented on #170
Hi @brodeurlv ,

short update. I debugged this issue a little bit and found a very likely cause.

Better Reproduction:
1. Setup an emulator
2. Set the device time manually to something like 0:02
3. Set the device locale to be something non-GMT, e.g. Germany with GMT+2 at the moment
3. Start fastnfitness in debug
5. Split `DAORecord.java` line 192 as shown below [0]
4. Go to "free workout"
5. Enter

[2020-08-27 21:01] brodeurlv commented on #170
Hi, thank you for the reproduction steps. That will definitively help.
I'll have a look at it. Tell me if you find some fix on your side. Thanks.

Le jeu. 27 août 2020 à 11:40, Jan Lippert <notifications@github.com> a
écrit :

[2020-08-31 00:32] ChrisJAllan commented on #170
I have a fix for this over in my `time-fix` branch. I'll do some more testing with it before opening a pull request. Unfortunately, the old data cannot be easily fixed, at least not without some sort of one-time migration operation.

[2020-08-31 08:28] brodeurlv commented on #170
Hi @ChrisJAllan, at first sight, this looks great! Thank you for the work here. Let me know when you are ready to send the pull request!

[2020-09-01 04:16] BeatLink opened #177 "Feature Request: Ability to save Progress Pictures"
**Describe the feature you'd like**
Hello,
I would like the ability to save progress pictures to the application

**Describe alternatives you've considered**
Currently, I use my phone's default camera app, but I need to navigate to the galley to view them.

**Additional context**
Being able to view progress pictures from within the application would be really convenient, and would be in line with

[2020-09-08 13:19] #170 closed

[2020-09-09 20:10] #171 closed

[2020-10-20 08:29] TheRealRWJ opened #180 "Unable to import after fresh install"
Found in version: v0.19.4

Current behavior: Seems to look for files

Expected behavior: Opening folder or file

Step to reproduce:Try to import after fresh install

Before setting my phone to factory defaults, I exported my progress of your app.
After resetting my phone I was unable to import my progress

Only After creating a new profilr and exporting my data again, The app was asking for allowa

[2020-11-06 22:17] aleksfadini opened #181 "Add estimated 1 RepMax to charts"
**Describe the feature you'd like**
Add an option to show calculated 1 RepMax to charts.

Should be easy to implement, just calculate it for every set and show the maximum value.

This is the formula:

The Epley (1985) equation is as follows: (0.033 × Number of repetitions × Weight) + Weight.

Would be awesome!

[2020-12-09 07:16] Ratatoskor opened #182 "Updated graph function - view rep count"
**Describe the feature you'd like**
Updated graph function that allow user to display number of reps

**Additional context**
Currently for strength exercises it is only possible to track the >=5 reps weight maximum, the 1 rep weight max, or the sum. It would be nice to be able to track the number of reps for bodyweight exercises like pushups & pullups.

Anything personal you want to add for the de

[2020-12-26 18:32] brodeurlv commented on #182
Hi @Ratatoskor,

Do you mean the max number of Rep per record or the sum of the Rep ?
For example, if you do 4 times 10 reps, do you want to see 40 on the graph or 10 ?
Thanks.

[2020-12-26 19:47] neitrinoweb commented on #182
Hello @brodeurlv! I highly upvote this feature.

I think the main problem with graph is that you can only measure weight that you lifted, which is a bit useless option for body weight exercises (like pull-ups, push-ups, abs exercises, etc).
So, I think it would be nice to measure progress in:
1. Total reps  (Like one day you did 3 sets (7-6-5) which would sum in 18 reps at a given day)
2. Max rep

[2020-12-26 21:01] #180 closed

[2020-12-27 15:44] brodeurlv commented on #182
Ok thanks for the details.
I'm working on it.

[2021-01-06 12:45] #181 closed

[2021-01-06 15:25] OpenWarp opened #186 "Consider an option to track height in "Body Track" section"
Hello,
There is a problem I encounter when using an app to track the kids' and teens' progress. As they continue to grow their height changes considerably over time. And there is no way to track the height along with the weight.

This results in wrong BMI calculations for past periods when the user profile is being updated with the new height. And I have also noticed that the BMI of 16.7 that is p

[2021-01-09 16:05] BeatLink commented on #141
In my opinion, this is perfect:

https://github.com/brodeurlv/fastnfitness/issues/141#issuecomment-653207003

Especially for people new to workouts who are progressing linearly. Also follows the concepts of progressive overload. And if it is too cumbersome or annoying, users have the option of turning it off.

It should be off by default unless the user activates it though

[2021-01-29 03:49] agerhbour commented on #141
I would also appreciate this feature, and in fact, I was surprised that weights in program's *don't* update.

[2021-02-25 20:30] jimbo8098 opened #189 "Dates Are Incorrect"
Hi,

I just downloaded the app and noticed an issue with the dates on the initial age selection screen where, after selecting my date of birth (15/11/1993) using the calendar, the date shown in the field afterwards is 15/12/1993. I've found the same thing happens in the profile page too so I think there may be something wrong with the way the date is being saved to the profile data.

**Smartphone:

[2021-02-25 20:32] jimbo8098 commented on #186
Excellent idea, I thought it was odd too till I read your use case...

[2021-02-28 15:07] micwoj92 opened #190 "Icon in "task view" is not shown properly"
**Describe your issue**
Hello,
The icon shown in "task view" is not shown properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open application
2. Open "task view"
3. See the bug.

**Expected behavior**
The icon should not be "zoomed in" it shows properly on launcher.

**Screenshots**
![Screenshot_20210228_155839_com huawei android launcher](https://user-images.githubusercontent.com/455

[2021-03-25 15:45] Forbo commented on #70
I agree, the ability to track resistance for cardio workouts would be an awesome addition!

[2021-03-25 16:22] Forbo opened #192 "Add donation info in F-Droid, GitHub README?"
I was looking for a way to make a donation to the project but couldn't find anything. Do you accept donations? If so, would you be able to add that info in F-Droid and/or the GitHub `README.md`?

[2021-04-06 07:25] brodeurlv commented on #182
released in 0.19.5

[2021-04-06 07:25] #182 closed

[2021-04-07 12:27] alextsakpinis commented on #13
@brodeurlv as discussed in our mail, I would do this simple issue as first contribution. Once I have finished the implementation I would open a PR and assign it to you to discuss my implementation. Is that fine for you?

[2021-04-07 13:04] brodeurlv commented on #13
Hi Alex, this sounds good. Thanks.

[2021-04-07 14:31] alextsakpinis commented on #13
One question: is it intended that if "isReplayOn" is true and you have reached the last song and then you press the button for the next song that it won't jump to the first song? However it jumps to the first song, when the song completed. The same scenario occurs with the first song and you press the previous song that it does not jump to the last song.

In my opinion, when "isReplayOn" is true y

[2021-04-07 16:08] brodeurlv commented on #13
Hi Alex,
Yes that's ok to jump to the first song or last song if you click previous
or next. You can include the fix in the PR.
Also I realized that in dark ui mode the repeat button in disable mode
seems active because of the flashy color. Would you mind also fixing this
by putting a darker color?
Thanks.

Le mer. 7 avr. 2021 à 16:31, Alexandros Tsakpinis ***@***.***>
a écrit :

[2021-04-08 08:22] alextsakpinis commented on #13
Hello Charles,
I saw the problem in Dark Mode and had a look how Spotify does it. They have white color for disabled and green color for enabled. However the Spotify App has always dark background. I have just implemented that logic from Spotify since I think it is more intuitive. You can soon have a look at it once the PR is open. Of course we can change the colors again if you don't like it.

[2021-04-09 17:37] alextsakpinis commented on #13
I implemented all the functionality of this issue and created a PR for that (#193). If you have time, please have a look at it so I can continue with other issues.

[2021-04-10 13:14] brodeurlv opened #194 "Missing access grant for music player"
If file access has not been granted before, then the file browser on the music player doesn't show anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install 0.19.5
2. Click on settings, then display player
3. Click on the corner right button, the file browser opens but does provide access to anything interesting.

**Expected behavior**
The pop up to grant access to file should

[2021-04-10 16:20] brodeurlv commented on #13
Hi Alex, I'm closing the enhancement. Thank you.
Also I realized that there is an issue in the authorization to access the device files. It seems to be an old issue. I opened a new issue for this #194.

[2021-04-10 16:20] #13 closed

[2021-04-10 16:35] brodeurlv commented on #13
FYI, I have added a small update on the colors to uniformize with other icons and on the size of the icons.

[2021-04-12 20:35] alextsakpinis commented on #194
Since I have worked on the task (Random Play button) which is related to that one, I would continue on that if that is fine for you?

[2021-04-13 05:46] brodeurlv commented on #194
Yes sure.Thank you.
You can take example of the code I used for changing the profile picture if
you want.
Thanks.

[2021-04-15 21:18] brodeurlv commented on #194
Fixed with PR #196.

[2021-04-15 21:18] #194 closed

[2021-04-16 06:48] brodeurlv commented on #189
Profile page is fixed in  [cc88f26](https://github.com/brodeurlv/fastnfitness/commit/cc88f26d3d5ee5bb875a38626759941bc331f2a3)
Initial Age selection still to be fixed.

[2021-04-16 07:04] #189 closed

[2021-04-18 19:36] alextsakpinis commented on #159
I am interested in this feature. I would start working on this issue in the upcoming week. Fine for you?

[2021-04-19 06:01] brodeurlv commented on #159
Hi Alex, sure, no problem.
Thanks.

Le dim. 18 avr. 2021 à 21:36, Alexandros Tsakpinis ***@***.***>
a écrit :

[2021-04-19 15:05] alextsakpinis commented on #159
Is solved by #197

[2021-04-19 15:09] alextsakpinis commented on #159
Should I implement an option to disable/enable the vibration as well? That could be easily done within this PR.

[2021-04-20 07:17] alextsakpinis commented on #113
Once my open PR is merged, I would like to continue with that one.

My idea: since data can only change when the app is used, I would store a date holding the information about the last backup. Each time the application is opened, it is check if a given time has elapsed from the last backup. The user would then be actively asked if he wants to do a backup now. The time between two backups is selec

[2021-04-20 10:14] brodeurlv commented on #113
Yes, that's smart and would not impact the user experience.

[2021-04-20 13:06] cdanne commented on #113
👍 for the initiative, I still think this would make regular backups much easier. Of course there still is related #115 which would also provide an easy way for creating backups. But it looks like that is more complicated and not to be expected short term.

[2021-04-21 12:18] brodeurlv commented on #159
Thank you @alextsakpinis.

[2021-04-21 12:18] #159 closed

[2021-04-21 16:49] brodeurlv opened #198 "Remove usage of requestLegacyExternalStorage in AndroidManifest.xml"
**Describe the feature you'd like**

Analyse and Consider changing the file access management for Music player, Machine and Profile pictures and CVS import/export.

[2021-04-23 02:14] BeatLink commented on #177
Any ideas on when (or if) this feature will be added? I'd be really eager to see it

[2021-04-24 08:56] brodeurlv commented on #186
Dev ongoing.
- [x] Migrate Profile size to BodyMeasure
- [ ] Allow graph history view

@OpenWarp, I will split this request in two issues. One for Size, one for BMI.

[2021-04-24 08:59] brodeurlv opened #200 "Correct BMI based on age"
Hello,
There is a problem I encounter when using an app to track the kids' and teens' progress. As they continue to grow their height changes considerably over time. And there is no way to track the height along with the weight.

This results in wrong BMI calculations for past periods when the user profile is being updated with the new height. And I have also noticed that the BMI of 16.7 that is p

[2021-04-24 09:14] brodeurlv commented on #200
@OpenWarp,
Concerning the BMI, the official algorithm doesn't include size and age.
What you are look for is what I found as the SBMI or advanced BMI which consider age and gender but yet I haven't been able to find a simple table explaining the algorithm.
If you have some **public** informations, please share it with me and I will implement it.
Thanks.

[2021-04-24 17:29] brodeurlv commented on #186
I finally added it to the Weight fragment. The Index are only considering the last measure.

[2021-04-24 19:49] #186 closed

[2021-04-24 19:54] brodeurlv commented on #177
Hi @BeatLink, I have no idea on when to be honest and currently the priority is to change the way pictures and files are managed in the app due to the Google change in API30 for scoped storage.
However, I still consider this is an interresting idea and if anyone wants to propose a pull request, I'm fine. But this will have to be done after the #198 is done.

[2021-04-30 00:52] BeatLink commented on #177
Got it!

[2021-04-30 10:58] alextsakpinis commented on #113
Solved by PR #199

[2021-05-02 15:43] #113 closed

[2021-05-02 18:40] alextsakpinis commented on #49
Since I am already familiar with the topic of exports I would continue with that issue. Is that ok for you?

[2021-05-03 08:43] brodeurlv commented on #49
Hi Alex, this one is more complicated than it seems. Changing the column name will break the compatibility of old exports.
Also, I would like to change all the mechanism of export to have something more robust and also something that can export the images as well in order to be abe to share exercise library with others but maybe that's a completely different feature (#79). I'm not yet clear on thi

[2021-05-03 10:58] alextsakpinis commented on #49
I thought about loosing the combability with older versions when changing the column names and wanted to discuss that with you. But your answer already explained everything really well. I will then look for another open issue.

[2021-05-12 07:33] brodeurlv opened #202 "Old records are displayed with today date"
**Describe your issue**
Old records (around 2018) are displayed with today date and not there actual date. It also erase the date in case of update of the value.

**Expected behavior**
Display the correct date.

[2021-05-12 07:39] #202 closed

[2021-05-16 15:33] alextsakpinis commented on #125
Hello @brodeurlv,
could I work on that issue?

Besides the existing filtering based on the exercise name, I would definitely add an option to allow filtering based on the exercise type (Strength, Cardio, Isometric). I think, this option alone add a lot of value to the user.

I still don't see the value of filtering based on which profile has already used an exercise. Could you elaborate that a bit

[2021-05-16 20:03] brodeurlv commented on #125
Hi @alextsakpinis ,

Sure, no problem! Thanks for proposing.
Concerning the filter, there is no need for a filter per profile. I guess that Beatlink wanted to use the profile in a non-standard way like being several profiles of the same person. This is no how the app is made so this doesn't make sense.

Then concerning the filter, there are three places where the filtering per type would be useful

[2021-05-18 18:44] alextsakpinis commented on #125
Solved by PR #204.

[2021-05-27 07:03] alextsakpinis commented on #125
@brodeurlv this issue can be closed now.

[2021-05-27 08:45] brodeurlv commented on #125
Congrats @alextsakpinis for your PR. Thanks.

[2021-05-27 08:45] #125 closed

[2021-05-30 19:50] #173 closed

[2021-06-11 20:51] punkie909 commented on #141
I kind of hacked something together like option 2 for myself when training. Only as of now, I saw this issue and thought I might push it to a fork. I don't think that the code quality is enough for a pull request (Java and Android apps aren't my bread and butter :)), but it maybe is a starting point.

So the workflow for me, after I am finished doing an exercise, is:
1. Press Checkmark.
2. First p

[2021-06-14 11:43] comradekingu opened #206 "Add translation resources on Weblate"
I can help set up the components on Weblate if
https://hosted.weblate.org/user/kingu
is added in
https://hosted.weblate.org/access/fastnfitnesss/#users :)

[2021-06-15 07:06] brodeurlv commented on #206
Hi kingu, thanks for proposing.
I have added you as user.
Thing is that I haven't setup weblate yet as it is new to me and I didn't have time to search how to set it up.
If ever you can help me to build things properly, I would appreciate. It would save me probably a lot of time! 😊
Thanks.

[2021-06-15 13:01] comradekingu commented on #206
Should work now. You can either add me to the project here, or set up https://docs.weblate.org/no/latest/admin/continuous.html#automatically-receiving-changes-from-github and it should be all good to go.

[2021-06-20 17:03] brodeurlv commented on #206
Thank you @comradekingu for setting this up.

[2021-06-20 17:03] #206 closed

[2021-07-08 07:45] 0verreach3r opened #209 "% unit + CSV Programs"
Hi
I've been using fastnfitness for 2 months now and I find it very useful to track body parts changes, exercises etc.

But I feel like it's missing two very important features:
- [ ] % Unit: Many programs use percentages related to a 1RM in a certain exercise, and it would be great to select just once the 1RM and having your program configured with the percentages previously set
- [ ] Possibility

[2021-07-08 07:49] 0verreach3r commented on #209
EDIT: after updating the application, CSV are now complete. They correctly show everything

[2021-07-16 05:11] longestmt commented on #192
Please add this. Crypto options like BTC and XMR would be great.

[2021-07-18 15:39] SpikeShape opened #210 "Exported records are not selectable when trying to import them"
Found in version: 0.20.1

Current behavior: When trying to select previously exported data there is no way to select the exported files. They are all grayed out.

Expected behavior: The files are selectable when navigating to the folder the data has been exported to.

Step to reproduce:
1) Select 'Export Records' on phone 1
2) Copy exported records to phone 2
3) Select 'Import Records' on phone 2

[2021-07-19 09:34] #210 closed

[2021-07-19 09:35] brodeurlv commented on #210
The issue came from the before API.29 devices who did not export with the extension CSV.
The workaround for current version would be to add the ".csv" extension to the files.

[2021-07-20 20:19] micwoj92 commented on #190
https://gitlab.com/Nulide/ShiftCal/-/commit/4b52685c840f11461a50254234538eef3184442d

[2021-07-24 07:05] brodeurlv commented on #141
A new checkbox in the record editor will now allow the user to also update the program.
Will be available in next release.

[2021-07-24 07:05] #141 closed

[2021-07-25 00:34] BeatLink commented on #141
Awesome!

[2021-07-25 07:02] brodeurlv commented on #200
Document reference for BMI-for-Age:
https://www.cdc.gov/nccdphp/dnpa/growthcharts/training/modules/module1/text/module1print.pdf

[2021-08-11 19:59] wuwei7 opened #212 "Add "Glutes" to list of muscles in "Exercises""
Found in version: 0.20.1

Current behavior: No glutes option in Exercises.

Expected behavior: Option to assign glutes to exercises.

Step to reproduce:

[2021-08-11 20:08] wuwei7 opened #213 "Ability to filter exercises by muscle in "Exercises""
Hello,
It would be nice if we could filter exercises by muscle in "Exercises". The way it is now you have to look through the whole list to find an exercise if you can't remember its name or are not sure which one you want for a given muscle (I've added quite a lot of exercises).

This app is awesome! Thanks a lot!

[2021-08-20 08:04] MatthewRFennell commented on #213
@brodeurlv is it ok if I pick this one up?

[2021-08-20 16:11] #212 closed

[2021-08-20 16:49] brodeurlv commented on #198
Published in 0.20.2

[2021-08-20 16:49] #198 closed

[2021-08-21 12:03] brodeurlv commented on #213
Hi Matthew, I think the muscle management would benefit from a deeper
redesign. If you look at how it is stored in the app, that's not the best
design. Let's discuss this on Wednesday and let me know if you have some
idea already on the implementation.

Le ven. 20 août 2021 à 10:05, Matthew Fennell ***@***.***> a
écrit :

[2021-08-25 18:18] brodeurlv opened #218 "Import/Export exercices with pictures in one file"
**Describe the feature you'd like**
The goal is to allow the export and import of library of exercices to allow people to share them.
The export should be one zip file (with a custom extension to make it nice) to make it simple for users.
To be considered cases where the user already have exercices with the same name.

Thank you.

[2021-08-29 11:24] wuwei7 commented on #213
The drafts in your last message look great. Actually, what I had in mind was being able to choose only one muscle group at a time but what you did there works too.

[2021-08-29 11:44] wuwei7 opened #219 "Add "adductors" and "forearms" to list of muscles in "Exercises""
Hello,

I've been using the app and there are two other muscle groups that are missing: adductors and forearms. There's also abductors but as they're split between glutes and thighs I don't think they need their own category (well, not for my needs anyway, but feel free to add them if you think they should be there).

Thanks a lot.

[2021-08-29 19:05] wuwei7 opened #220 "Update introduces bug on muscle list"
Hello,
I've just updated the app to version 0.20.2 and noticed the inclusion of "Glutes" introduced a bug. All the muscles I had previously selected for my exercises were replaced by the muscle immediately above it on the muscle list. For example, on "Squat" I had selected "Thighs" but now it changed to "Shoulders", which is the muscle immediately above it on the muscle list. The same thing happen

[2021-08-31 14:14] brodeurlv commented on #220
@MatthewRFennell, is this something you could investigate?
Let me know if you are available for this and if you need some support.
Thanks.

[2021-09-01 07:43] MatthewRFennell commented on #220
Oh no, I'm sorry about this! I'll take a look tomorrow.

[2021-09-02 19:42] MatthewRFennell commented on #220
I've identified the issue. It relates to the way the `_musclesArray` is used in `getMuscleNameFromId()` and `getMuscleIdFromName()`.

These two functions convert the name to an integer based on an alphabetical ordering. So, in English, Abdominals has id 0 in the database, Back has id 1 etc.

Because Glutes come before Hamstrings, Obliques etc., all ids after Glutes were increased by 1 by my commit

[2021-09-04 05:35] brodeurlv commented on #220
Hi @MatthewRFennell , that's a great investigation ! Thank you for this and for the details. It is cristal clear.

The option 1 is not feasible because we have no easy wait to communicate and the impact would be to big for the historical users.
The option 2 is not futur proof. At some point we will need to add glutes and then we will fall in the same situation.

So to me,

1. First, it is time to

[2021-09-04 14:41] MatthewRFennell commented on #220
I agree with this approach, I have a few hours now so will take a look and report back with any progress / questions.

[2021-09-04 21:50] MatthewRFennell commented on #220
As a quick update, I've made some progres, I'm hpoing to get this done by Monday evening. Let me know if that timeframe doesn't work out for you! I'll post here if there are any delays.

[2021-09-05 07:07] brodeurlv commented on #220
Thanks for the update. The time-line is fine, don't worry! 😊
Thanks for taking care of this.

Le sam. 4 sept. 2021 à 23:50, Matthew Fennell ***@***.***> a
écrit :

[2021-09-08 19:45] #220 closed

[2021-09-14 05:49] RyanGreenup opened #222 "Enable Wiki on Repository"
**Describe the feature you'd like**
Hello,
would it be possible to enable the wiki on this repository?

**Describe alternatives you've considered**
N/A

**Additional context**

I've used [Fitnotes](https://play.google.com/store/apps/details?id=com.github.jamesgay.fitnotes&hl=en_AU&gl=US) in the past and I imported the exercise table to use in *Fast and Fitness* so I thought I would document it her

[2021-09-14 13:41] sakci opened #223 "Unlock the Weblate Project"
Hi,

I am a professional translator specializing in digital content localization.

I would like to localize FastNFitness with a colleague into Turkish, our native language, but the Weblate project is locked. Could you unlock the project?

Thanks in advance.

Edit: Thank you for unlocking the project. We'll start working on it ASAP.

[2021-09-17 14:59] themightyoarfish opened #224 "Export/Import between 0.20.1 and 0.20.2 broken"
**Describe your issue**
I want to move data from one phone (0.20.1, Lineagos 14 with Android 7.1.2 I believe) to a new phone (0.20.2, Lineagos with Android 11). When I Export the data, I get a folder, but when I try to import and navigate to this folder, all files are unselectable.

**To Reproduce**
Steps to reproduce the behavior:
1. Click three dots at top right
2. Hit `Export records`
3. Move t

[2021-09-17 15:01] themightyoarfish commented on #224
Same problem when versions match by the way.

[2021-09-18 07:54] brodeurlv commented on #222
Hi @RyanGreenup ,

I don't understand what you mean by enable the wiki. There is already a wiki page (empty, that's right !)  on Github here : https://github.com/brodeurlv/fastnfitness/wiki
Is there another way to create wiki pages on github ?

Anyway, thank you for building your page on the migration from fitnotes. This can definitively be helpful.

[2021-09-18 08:15] brodeurlv commented on #224
Hi @themightyoarfish ,

Yes, there was an issue in the 0.20.1 that has been fixed in the 0.20.2. You can fix your export by adding the extension .csv to your file.

[2021-09-18 08:15] #224 closed

[2021-09-18 08:20] themightyoarfish commented on #224
Which file?

[2021-09-27 13:30] brodeurlv commented on #224
Sorry, I meant on your files with an S, the files that you are not able to select. Just add ".csv"  and then you will be able to select them.

[2021-09-27 14:18] #223 closed

[2021-10-01 11:21] brodeurlv commented on #213
@MatthewRFennell, how is it going with the development of this feature ? Still on it ?
Thanks.

[2021-10-01 20:11] AntonioMG23 opened #225 "Redesign of the application interface to give a touch more similar to current versions of android"
Hello, I wanted to suggest a change in the design of the interface to make it a little more pleasant for the user to see, since I noticed that the app still maintains some old design standards.

[2021-10-01 20:15] AntonioMG23 opened #226 "Redesign of the application interface to give a touch more similar to current versions of android"
Hello, I wanted to suggest a change in the design of the interface to make it a little more pleasant for the user to see, since I noticed that the app still maintains some old design standards.

[2021-10-03 18:58] tfbninja opened #227 "Feat. Rq: Customize backups folder"
**Describe the feature you'd like**
An option to choose the folder where backups are saved would be pretty sweet.

**Describe alternatives you've considered**
Even just a dedicated app folder somewhere else in the phone internal storage would be nice instead of the download folder. Then again, I'm sure it may be hard for some to navigate to a random folder in their phone, so my suggestion would be

[2021-10-14 08:41] #226 closed

[2021-10-16 04:27] mbnoimi opened #228 "Backup/restore programs"
I suggest to add export/import programs csv file or backup/restore full database (I don't know what if fastnfitness uses SQLite or not).

[2021-10-20 08:42] chaptergy opened #230 "All at once weight tracking"
Hello,
It would be great to be able to track all data on the weight tracking screen at once. Meaning adding an add button to the weight track screen which opens a popup with inputs for weight, fat, muscles and water. This would also enable the possibility to input the fat, muscles and water in kg, which is then automatically converted to %, as some scales only show the data in kg.

I could also ch

[2021-10-30 14:57] hhpmmd opened #232 "Records have time of Template creation if set to success using record editor dialog"
Hi,
I am pretty sure this is a bug and not intended behavior:
If you start a program and then click the checkmark-button it sets the record-state to success and updates the time of the record to _now_. If you click the edit-button (with the pen icon) you get the record editor dialog and if you press success in that dialog it does not update the time for the record but uses the time of the program

[2021-10-31 08:31] brodeurlv commented on #232
Hi @hhpmmd,

Thank you for this detailled report. Indeed, it looks like a bug ! Feel free to submit a PR if you like. The fix should have a limited scope and should not impact anything else. Let me know is you have questions.
Thanks.

[2021-11-05 12:29] #232 closed

[2021-11-09 21:34] brodeurlv commented on #225
Not a precise enhancement request. Closing.

[2021-11-09 21:34] #225 closed

[2021-11-09 21:48] brodeurlv commented on #222
I finally copy paste your page.
Thanks for your contribution.

[2021-11-09 21:48] #222 closed

[2021-11-15 01:59] WEHILWilliams opened #234 "Meal, calorie & macro-nutritient tracker"
The app is a great platform for tracking resistance exercise and body progress. I am a very amateur coder so I am not skilled enough to do it myself but can we add on the step counter, nutritionix database, calorie counter, macro-nutrient counter etc from https://github.com/rahulmaddineni/Stayfit

Combining a meal/ calorie counter with an exercise based tracker that accounts for resistance trainin

[2021-11-19 14:50] BeatLink opened #235 "Add gif support for exercise photos."
**Describe the feature you'd like**
Hello, I was wondering if gif support could be added to exercise photos. That way, gifs showing the exercise form could be added by users.

**Describe alternatives you've considered**
None so far

**Additional context**
Nothing Here

PS: Great work on Fast N Fitness by the way. Best open source workout app I've found.

Thank you.

[2021-11-21 13:38] lelkese opened #236 "Circuit training"
Hello,

Your app is very useful! Could you please add support for circuit trainings? If I would like to create such a program I need to add exercises (e.g. 10 different) with (e.g. 3) sets and after that I need to change manually the order of each exercise, which is very uncomfortable. It would be easier if I could just list the exercises and set the repetitions for the whole program.

For example

[2021-11-21 13:42] lelkese opened #237 "Implement interval timer"
Hello,

An integrated interval timer would be amazing for circuit training, like the Interval Timer app: https://f-droid.org/en/packages/org.secuso.privacyfriendlyintervaltimer/ In this case it could also show, which exercise needs to perform and show the rest time between exercises and the break time after each cycle.

Thank you.

[2021-11-21 13:49] lelkese opened #238 "Calculate BMR with activity levels"
Hello,

It would be useful to add the Basal Metabolic Rate (BMR) for Weight Track -> Index (even with activity level information). The calculation equations and examples are here: https://www.calculator.net/bmr-calculator.html So if body fat is know, than Katch-McArdle Formula can be used, otherwise the Mifflin-St Jeor Equation.

Thank you.

[2021-11-21 13:52] lelkese opened #239 "Radar chart"
Hello,

[Radar chart](https://en.wikipedia.org/wiki/Radar_chart) would be good to show all of the changes at ones for Weight Track and Body Track, like in the openScale app: https://f-droid.org/en/packages/com.health.openscale/

Thank you.

[2021-11-24 18:15] Bobhasgithub opened #240 "BodyMeasures import crashes the app."
**Describe your issue**
Hello,
the app crashes every time I try to import the "export_BodyMeasures_username.csv". So I can't transfer my weighttracking to the new phone (weight is the only thing I use the app for).

Thank you.
Bob

**To Reproduce**
Steps to reproduce the behavior:
1. Export Database
2. Try to import: "export_BodyMeasures_username.csv"
3. App crashes

**Expected behavior**
File sho

[2021-11-29 15:09] BeatLink opened #241 "Feature Request: Sync support for Wger."
**Describe the feature you'd like**
Hello, it would be really cool if FastNFitness could synchronize its data with Wger. Wger is a free, open source web app to track fitness info. You can find details on the website here: https://wger.de/en/software/features

**Describe alternatives you've considered**
I haven't seen any other fitness web apps but if i come across any I will update this issue.

**

[2021-11-30 16:31] tsferguson commented on #240
I have the same issue, and have tried a few workarounds unsuccessfully.

Records from May 2021:
EF_username_BodyMeasures_datetime.csv
EF_username_CustomBodyPart_datetime.csv

These cannot be imported in the current version (0.20.3) due to crashing app.
Nor can they be imported into any of the versions since 0.19.7 - tested by installing the older versions from f-droid.

Generating new records (exp

[2021-11-30 22:47] brodeurlv commented on #240
Hi guys, can you provide me your csv files so that I can check what is wrong. I don't have the issue on my side.
Thanks

[2021-12-01 14:50] tsferguson commented on #240
Thanks for the quick response.

I reinstalled the app, created a dummy account, then exported 2 sets of records and attempted to import them directly into the app and into a fresh install.
Firstly, completely blank with no entries. All of these records can be imported with no crash or error. They also contain no data points.
[export_BodyMeasures_MyTest.csv](https://github.com/brodeurlv/fastnfitnes

[2021-12-01 15:42] rolandgeider commented on #241
Hi! I'm the main developer of wger, if I can be of assistance, just @ me (BTW, our repo [is here](https://github.com/wger-project))

[2021-12-01 23:26] brodeurlv commented on #240
Thank you for the details. I will look into it.

[2021-12-06 21:43] brodeurlv commented on #240
My bad! This is fixed now. The unit was missing in the export.

In current version 0.20.3, you can fix this by adding a "unit" column and adding an integer that represent the unit:

-  0: KG;
-  1: LBS;
-  2: STONES;
-  3: KM;
-  4: MILES;
-  5: CM;
-  6: INCH;
-  7: PERCENTAGE;
-  8: UNITLESS;

_Example:_
table,id,date,bodypart_label,mesure,profil_id,**unit**
EFbodymeasures,4,2021-12-06,Biceps ga

[2021-12-06 21:48] #240 closed

[2021-12-07 17:59] #230 closed

[2021-12-08 16:05] st0nec0ld opened #243 "Art von Training > Körpergewicht"
Hi,

ich erkläre gleich mein Beispiel. Ich will eine Übung erstellen > 3 x 25 Liegestütze oder 3 x 25 Kniebeugen. Eine solche Möglichkeit wäre toll.

mfg

[2021-12-09 09:34] st0nec0ld opened #244 "Formatierung nicht korrekt"
Hi,

zwei nicht korrekte Formatierungen. Mein Handy ist ein Pixel 5 mit Android 12.
![Screenshot_20211209-101908](https://user-images.githubusercontent.com/21226229/145370853-54c08b4c-0e43-4bc4-95b7-384e67a74de9.png)
![Screenshot_20211209-101917](https://user-images.githubusercontent.com/21226229/145370857-db763207-3cac-4c3f-a46a-ca544e944b34.png)

[2022-02-06 20:31] #49 closed

[2022-02-06 20:32] #209 closed

[2022-02-06 22:56] #244 closed

[2022-02-06 22:56] #228 closed

[2022-02-15 18:00] #238 closed

[2022-02-21 08:06] chaptergy opened #252 "Update to v0.20.5 crashes app instantly"
**Describe your issue**
Hello,
When updating the app to v0.20.5 and opening it it crashes instantly. The splash screen flashes for a split second but then the app is closed again.
Thank you.

**To Reproduce**
Steps to reproduce the behavior:
1. Have data stored in app version 0.20.4 or earlier
2. Upgrade to version 0.20.5
3. Open the app

**Expected behavior**
The app opens

**Smartphone (please c

[2022-02-21 12:22] zcattacz commented on #252
same here

[2022-02-22 07:44] brodeurlv commented on #252
Thank you for the feedback and the stack trace. I will fix this asap.

[2022-02-22 08:16] brodeurlv commented on #252
Hi guys, thanks to the Stacktrace, I have been able to identify the issue quickly.
The new release should be available today on google play.
Thank you for the feedback. Let me know if you still have issues with the 0.20.5.1.

[2022-02-22 08:16] #252 closed

[2022-02-24 22:24] themightyoarfish commented on #252
When will this land in F-Droid? Same problem and F-Droid fails downgrading, my phone also says "App not installed" when trying to install the APK manually.

[2022-02-24 22:26] themightyoarfish commented on #252
Which files do i need to save to be able to restore after i uninstall manually?

[2022-02-24 22:39] themightyoarfish commented on #252
I noticed the export unfortunately does not contain the programs, that might be a useful addition.

[2022-02-24 23:22] brodeurlv commented on #252
The program export has been added in the 0.20.5.
The crash is fixed in the 0.20.5.1.
It is available on the Google play. For F Droid, it is supposed to be automatic. I don't manage this.
Best regards,

Charles.

[2022-02-26 00:46] zcattacz commented on #252
the build bot hasn't even discover this new version yet ...  https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/com.easyfitness.yml

[2022-02-26 11:37] fabian-thomas opened #253 "v0.20.5.1 not on f-droid"
v0.20.5.1 doesn't seem to be on f-droid (yet?) and v0.20.5.0 crashes for me. Can't downgrade either.

Because of such cases it would be nice if the signed apk could be released on github. In best case with the same signing key as the version on f-droid.

[2022-02-27 23:32] brandonp2412 opened #254 "App Fails to Launch on 0.20.5"
**Describe your issue**
After upgrading to version 0.20.5 the app fails to launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 0.20.4
2. Upgrade to 0.20.5
3. Try to launch the app
4. See error

**Smartphone (please complete the following information):**
 - Device: Pixel 4
 - OS: LineageOS flame 18

**Additional context**
I ran logcat while launching and found this error:

[2022-02-28 21:03] brodeurlv commented on #254
This is already fixed in  0.20.5.1. Did you upgrade it from Google play?

[2022-02-28 21:04] brodeurlv commented on #253
Hi, Can't you upgrade it from Google play?

[2022-02-28 23:53] fabian-thomas commented on #253
Unfortunately no. The google builds are signed with a different key. I tried uninstalling and reinstalling from Play Store but that broke my backups.

Fortunately the update is now available from f-droid, so my issues are resolved.

For the future:
Is there some way to make the apks that are served by fdroid available here on github?

[2022-03-01 06:01] tfbninja commented on #254
I had this same issue on my Pixel 4a running Android 12. I deleted the app and then re-installed it which fixed the crashing issue but then my records were missing and I had to import. Unfortunately they did not import correctly but I messed around with them in excel to get the old records to fit the new pattern. If anyone else has this issue you can email me your records and I'll put them in the

[2022-03-05 03:11] #254 closed

[2022-04-03 08:07] #253 closed

[2022-04-19 01:25] EdMaxPrime opened #255 "Show all exercise information during workout"
**Describe the feature you'd like**

I'd like to see more information about an exercise during a workout. Currently, during an active workout, the program list displays blue boxes with the first few characters of the exercise name, followed by set/rep counts.

![Fast N Fitness](https://user-images.githubusercontent.com/6315096/163901267-d02522e0-b174-4c1c-9eaf-4b1cd91648a1.png)
*Above image: Singl

[2022-05-12 13:10] ewencb opened #257 "Rest timer skipped when record edited during program"
Hello, loving this app, thanks for all the hard work! Feel free to close this if it's intended behaviour but I thought I'd flag it since it wasn't what I expected.

Found in version:
0.20.5.1

Current behavior:
During a program session the rest timer doesn't start if the record is edited before marking as complete (eg. when increasing the weight on an exercise in a new session as part of progressi

[2022-05-16 08:07] islam2hamy opened #258 ".gif and .mp4 exercies image"
Hello,
Thank you for the app,

Can you please allow .gif and .mp4 exercies image (interactive)

Thank you.

[2022-06-02 12:02] Hydroholic opened #259 "Feature Request : Show latest performance while editing a program"
**Describe the feature you'd like**
Hello,
I often edit my program (weight or reps) after exceeding my strength expectations during the last workout, so I must go back and forth between my workout history and the program I need to edit. It would be nice to view the last workout performance directly when editing a program.

Thank you.